
.badge-source {
  background-color: #b54646;
  color: white;
}

.badge-germplasm {
  background-color: #4aa434;
  color: white;
}

.badge-phenotyping-study {
  background-color: #437b9c;
  color: white;
}

.badge-genotyping-study {
  background-color: #c39d35;
  color: white;
}
