
a {
  text-decoration: none;
}

.badge-source {
  background-color: #b54646;
  color: white;
}

.badge-germplasm {
  background-color: #4aa434;
  color: white;
}

.badge-study {
  background-color: #437b9c;
  color: white;
}
