<faidare-card-section *ngIf="xrefs.length > 0"
                   header="Cross References">
  <ng-template>
    <div class="table-responsive scroll-big-table table-card-body">
        <faidare-card-table
          [headers]="[
          'Name',
          'Source',
          'Type',
          'Description'
        ]"
          [rows]=xrefs>
          <ng-template let-crossRef>
            <tr>
              <td><a [href]="crossRef.url" target="_blank">{{ crossRef.name }}</a></td>
              <td>{{ crossRef.database_name }}</td>
              <td>{{ crossRef.entry_type }}</td>
              <td>{{ crossRef.description | slice:0:120 }}...</td>
            </tr>
          </ng-template>
        </faidare-card-table>
    </div>
  </ng-template>
</faidare-card-section>
