
<!--

TODO: display generic document name and identifier here?
-->


<!-- Document PUI -->
<faidare-card-row
  class="pui-row"
  label="Permanent unique identifier"
  [test]="document['@id'] && !document['@id'].startsWith('urn:')"
  [value]="document['@id']">
</faidare-card-row>


<ng-container *ngIf="dataSource && dataSource['schema:name']">

  <faidare-card-row
    label="Source"
    class="data-source-row"
    [test]="dataSource['schema:url']">
    <ng-template>
      <!-- Data source URL link -->
      <a target="_blank"
         [href]="dataSource['schema:url']">

        <!-- Data source logo -->
        <img *ngIf="dataSource['schema:image']"
             [src]="dataSource['schema:image']"
             alt="{{ dataSource['schema:name'] }} logo"
             style="max-height: 60px;"/>

        <!-- Data source link -->
        {{ dataSource['schema:name'] }}
      </a>
    </ng-template>
  </faidare-card-row>

  <faidare-card-row
    label="Data link"
    class="data-link-row"
    [test]="document['schema:url']">
    <ng-template>
      <!-- Document URL link  on data source web site -->
      <a target="_blank" [href]="document['schema:url']">
        Link to this {{ documentType }} on {{ dataSource["schema:name"] }}
      </a>
    </ng-template>
  </faidare-card-row>

</ng-container>
