
# Created by https://www.gitignore.io/api/angular,sass
# Edit at https://www.gitignore.io/?templates=angular,sass

### Angular ###
## Angular ##
# compiled output
/dist
/tmp
/app/**/*.js
/app/**/*.js.map

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea

# misc
/.sass-cache
/connect.lock
/coverage/*
/karma-junit-tests-report
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# End of https://www.gitignore.io/api/angular,sass
