<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<!--
Reusable fragment displaying the source and the data links of an entity (site, study or germplasm).
The source argument is a DataSource.
The url argument is a string, which is the URL of the entity.
The entityType argument is a string, which is used in the message
"Link to this <entityType>".
-->

<th:block th:fragment="source(source, url, entityType)">
  <th:block th:if="${source != null}">
    <div th:replace="fragments/row::row(label='Source', content=~{::.source})">
      <a class="source" target="_blank" th:href="${source.url}">
        <img class="img-fluid" style="max-height: 60px;" th:src="${source.image}" th:alt="${source.name} + ' logo'" />
      </a>
    </div>
  </th:block>

  <th:block th:if="${url != null && source != null}">
    <div th:replace="fragments/row::row(label='Data link', content=~{::.source-url})">
      <a class="source-url" target="_blank" th:href="${url}">
        Link to this <span th:text="${entityType}"></span> on <th:block th:text="${source.name}" />
      </a>
    </div>
  </th:block>
</th:block>

</body>

</html>
