<ng-template #germplasmDetailsPopup>
  <div class="card ngb-popover-window ">
    <br>
    This is a button to view more information about the germplasm that are return by your search.<br>
    You can also download the results in standard format.
  </div>
</ng-template>


<div class="card mb-1" *ngIf="facet.terms.length && facet.terms.length <= 8">
  <div class="card-body">
    <h3
      class="card-title">{{ formatFacets[facet.field] ? (formatFacets[facet.field] | titlecase) : facet.field | titlecase }}</h3>

    <form [formGroup]="checkBoxes" class="card-text">
      <div class="form-check" *ngFor="let term of facet.terms">
        <input class="form-check-input"
               type="checkbox"
               id="{{ term.term }}"
               [formControlName]="term.term"
        />
        <label class="form-check-label" for="{{ term.term }}">
          {{ term.label }} ({{ term.count | number }})
        </label>

        <div id="germplasmSearch"
             title=""
             style="margin-top: 5px"
             *ngIf="term.term == 'Germplasm' && !criteriaIsEmpty">
          <label for="selectSwitchButton" style="margin-right: 5px"
                 id="switchTitle">
            Details
          </label>
          <label class="switch" id="switchButton">
            <input type="checkbox" id="selectSwitchButton"
                   [checked]="displayGermplasmCurrentState"
                   (change)="switchToGermplasmResult()">
            <span class="slider round"></span>
          </label>
          <a class="btn popovers" data-boundary="window" placement="auto"
             [autoClose]="'outside'"
             [ngbPopover]="germplasmDetailsPopup"
             [popoverTitle]="'Details button\'s help.'" container="body">

            <img src="assets/faidare/images/question-mark.png" alt="help"
                 title="This is a button to view more information about the germplasm that are return by your search.
                 You can also download the results in standard format."
                 height="20px" style="margin-top: -10px; margin-left: 10px"/>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
