<gpds-loading-spinner [loading]="loading" class="float-right"></gpds-loading-spinner>

<ng-container *ngIf="location">
  <h3>
    Site: {{ location.locationName }}


  </h3>

  <gpds-map [locations]="[location]" *ngIf="location && location.latitude && location.longitude"></gpds-map>



  <gpds-card-section
    header="Details">
    <ng-template>
      <div class="card-body">
        <gpds-card-row
          label="Site type"
          [value]="location.locationType">
        </gpds-card-row>

        <gpds-card-row
          label="Abbreviation"
          [value]="location.abbreviation">
        </gpds-card-row>

        <gpds-card-row
          label="Country code"
          [value]="location.countryCode">
        </gpds-card-row>

        <gpds-card-row
          label="Country name"
          [test]="location.countryName && !location.additionalInfo['Geographical location']"
          [value]="location.countryName">
        </gpds-card-row>

        <gpds-card-row
          label="Institution address"
          [value]="location.institutionAddress">
        </gpds-card-row>

        <gpds-card-row
          label="Institution name"
          [value]="location.institutionAddress">
        </gpds-card-row>

        <gpds-card-row
          label="Altitude"
          [value]="location.altitude">
        </gpds-card-row>

        <gpds-card-row
          label="Latitude"
          [value]="location.latitude">
        </gpds-card-row>

        <gpds-card-row
          label="Longitude"
          [value]="location.longitude">
        </gpds-card-row>
      </div>
    </ng-template>
  </gpds-card-section>

  <gpds-card-section
    header="Additional information"
    [test]="additionalInfos && additionalInfos.length != 0">
    <ng-template>
      <gpds-card-table
        [rows]="additionalInfos">
        <ng-template let-row>
          <tr>
            <td width="50%">{{ row.key }}</td>
            <td>{{ row.value }}</td>
          </tr>
        </ng-template>
      </gpds-card-table>
    </ng-template>
  </gpds-card-section>








  <!--XRefs part -->
  <gpds-xrefs [xrefId]="location.locationDbId"></gpds-xrefs>




</ng-container>
