@import "theme";
@import '../../styles.scss';


#tabHeader {
  cursor: pointer;
}

#germplasmResultThead {
  margin-top: 26px;
  border-bottom-width: 3px;
  border-bottom-color: #d0d8e1;
}


.result {
  border-top: 4.5px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}

.bolder {
  font-size: 1.2rem;
  font-weight: bold;
}

thead th {
  position: sticky;
  top: 0;
  background-color: white;
}

label {
  span {
    font-weight: bold;
    display: block;
  }
}
