// non-public variables used in this theme only
$_theme-black: #222222;
$_theme-blue: #0f6e9f;
$_theme-light-gray: #eaeaea;
$_theme-gray: #c2c2c2;

$component-active-bg: $_theme-blue;

// override default link colors
$link-color: lighten($_theme-blue, 0.4);
$link-hover-color: $_theme-black;

// override default shadows behavior
$enable-shadows: true;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/tables";

// public custom variables used in this theme, and in component styles

// custom button
$theme-btn-color: $white;
$theme-btn-bg-color: $_theme-black;
$theme-btn-border-color: $_theme-black;
$theme-btn-hover-color: $white;
$theme-btn-hover-bg-color: $_theme-blue;
$theme-btn-hover-border-color: $_theme-blue;

// custom navbar
$theme-navbar-height: 4rem;
$theme-navbar-color: $black;
$theme-navbar-bg-color: $_theme-light-gray;
$theme-navbar-hover-color: $white;
$theme-navbar-hover-bg-color: $_theme-gray;

