<div class="error alert alert-warning" *ngIf="error$ | async as error">
  <div class="d-flex">
    <div class="mr-3" style="font-size: 3em;">
      <span class="fa fa-frown-o"></span>
    </div>
    <div>
      <p>
        An unexpected error occurred.<br/>
        <a href="javascript:window.location.reload(true)">
          Refresh the page
        </a>
        or try later.
        <br/>
        Please contact <a href="mailto:urgi-support@inra.fr">urgi-support@inra.fr</a> if the problem persists.
      </p>
      <small *ngIf="error.status" id="error-status">
        Status: {{ error.status }}
      </small>
      <small *ngIf="error.message" id="error-message">
        Message: {{ error.message }}
      </small>
    </div>
  </div>
</div>
