<div class="error alert alert-warning" *ngIf="error$ | async as error">
  <div class="d-flex">
    <div class="mr-3" style="font-size: 3em;">
      <span class="fa fa-frown-o"></span>
    </div>
    <div>
      <p>
        An unexpected error occurred.<br/>
        <a href="javascript:window.location.reload(true)">Refresh the page</a>
        <ng-container *ngIf="canGoBack()">
          , <a (click)="goBack();$event.preventDefault()" href="#">go back to the last page</a>
        </ng-container>
        or retry later.
      </p>
      <p>
        Please contact <a href="mailto:urgi-support@inra.fr">urgi-support@inra.fr</a> if the problem persists.
      </p>
      <code *ngIf="error.status || error.message">
        <span *ngIf="error.status" id="error-status">
          Status: {{ error.status }}
        </span>
        <span *ngIf="error.message" id="error-message">
          <br/>
          Message: {{ error.message }}
        </span>
      </code>
    </div>
  </div>
</div>
