@import "theme";

.no-result-icon {
  font-size: 8rem;
  color: $gray-300;
}

.result {
  border-top: 3px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}

#result-part {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
}

.reset-all-div {
  height: 0;
}
