<nav class="navbar navbar-expand-md navbar-dark py-0 mb-5">
  <div class="container px-0">
    <a class="navbar-brand d-flex align-items-center mr-0 px-2" routerLink="/">
      <img src="assets/logo.png" alt="Logo" title="{{ navbar.title }}" height="60px"/>
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="fa fa-bars"></span>
    </button>
    <div id="navbar" class="collapse navbar-collapse" [class.collapse]="navbarCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let link of navbar.links">
          <a class="nav-link d-flex align-items-center" [href]="link.url" target="_blank">{{ link.label }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
