@import "theme";

.navbar {
  background-color: $theme-navbar-bg-color;
}

.navbar-toggler {
  color: $theme-navbar-color;
  border-color: $theme-navbar-color;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.navbar .navbar-nav .nav-link, .navbar .navbar-brand {
  color: $theme-navbar-color;
  height: $theme-navbar-height;
  text-decoration: none;

  &:hover {
    color: $theme-navbar-hover-color;
    background-color: $theme-navbar-hover-bg-color;
  }
}

.dropdown-container {
  position: relative;
}
