<div *ngIf="germplasmGnpis!=null">
  <h3>
    Germplasm: {{ germplasmGnpis.germplasmName }}
  </h3>

  <div class="container-fluid">
    <div class="container" >
      <div class="row">
        <div class="col-md-auto" *ngIf="germplasmGnpis.photo.thumbnailFileName != null">
          <img src="https://urgi.versailles.inra.fr/files/siregal/images//accession/{{ germplasmGnpis.holdingGenbank.instituteCode }}/{{ germplasmGnpis.photo.thumbnailFileName }}" class="img-fluid" alt="" >
        </div>
        <div class="col">
          <table class="table table-sm .table-responsive{-sm|-md|-lg|-xl}">
            <thead class="text-white">
            <tr>
              <th scope="col" colspan="2">
                Identification
              </th>
            </tr>
            </thead>
            <tr *ngIf="germplasmGnpis.accessionNumber!=null">
              <th scope="row">Accession number</th>
              <td>{{ germplasmGnpis.accessionNumber }}</td>
            </tr>
            <tr *ngIf="germplasmGnpis.acquisitionDate!=null">
              <th scope="row">Acquisition date</th>
              <td>{{ germplasmGnpis.acquisitionDate }}</td>
            </tr>
            <tr *ngIf="germplasmGnpis.germplasmName!=null">
              <th scope="row">Germplasm name</th>
              <td>{{ germplasmGnpis.germplasmName }}</td>
            </tr>
            <tr *ngIf="germplasmGnpis.germplasmPUI!=null">
              <th scope="row">Permanent Unique Identifier</th>
              <td class="ellipsis"> {{ germplasmGnpis.germplasmPUI }}</td>
            </tr>
            <tr *ngIf="germplasmGnpis.seedSource!=null">
              <th scope="row">Seed source</th>
              <td>{{ germplasmGnpis.seedSource }}</td>
            </tr>
            <tr *ngIf="germplasmGnpis.geneticNature!=null">
              <th scope="row">Genetic nature</th>
              <td>{{ germplasmGnpis.geneticNature }}</td>
            </tr>
            <tr *ngIf="germplasmGnpis.synonyms.length > 0">
              <th scope="row">Accession synonyms</th>
              <td><a *ngFor="let synonym of germplasmGnpis.synonyms"> {{ synonym }}</a></td>
            </tr>

            <ng-template *ngIf="germplasmGnpis.genus!=null; then withGenus; else withoutGenus"></ng-template>
            <ng-template #withGenus>
              <tr>
                <th scope="row">Taxon</th>
                <td *ngIf="germplasmGnpis.speciesAuthority">{{ germplasmGnpis.genus}} {{ germplasmGnpis.species}} {{ germplasmGnpis.subtaxa}} ({{ germplasmGnpis.speciesAuthority}}) </td>
                <td *ngIf="germplasmGnpis.speciesAuthority==null">{{ germplasmGnpis.genus}} {{ germplasmGnpis.species}} {{ germplasmGnpis.subtaxa}} </td>
              </tr>
            </ng-template>
            <ng-template #withoutGenus>
              <tr>
                <th scope="row">Taxon</th>
                <td>{{ germplasmGnpis.species}}</td>
              </tr>
            </ng-template>

            <tr *ngIf="germplasmGnpis.taxonCommonNames.length > 0">
              <th scope="row">Taxon common names</th>
              <td class="ellipsis"><a *ngFor="let commonName of germplasmGnpis.taxonCommonNames"> {{ commonName }}</a></td>
            </tr>
            <tr *ngIf="germplasmGnpis.taxonSynonyms.length > 0">
              <th scope="row">Taxon synonyms</th>
              <td class="scroll"><a *ngFor="let taxonSynonym of germplasmGnpis.taxonSynonyms"> {{ taxonSynonym }}</a></td>
            </tr>
            <tr *ngIf="germplasmGnpis.pedigree!=null">
              <th scope="row">Pedigree</th>
              <td>{{ germplasmGnpis.pedigree }}</td>
            </tr>
            <tr *ngIf="germplasmGnpis.biologicalStatusOfAccessionCode!=null">
              <th scope="row">Biological status</th>
              <td>{{ germplasmGnpis.biologicalStatusOfAccessionCode }}</td>
            </tr>
            <!--<tr>
              <td>Source</td>
              <td>{{ germplasmGnpis.source }}</td>
            </tr>
            <tr *ngIf="germplasmGnpis.source!='URGI'">
              <td>Source link</td>
              <td><a>{{ germplasmGnpis.url }}</a></td>
            </tr>-->
            <tr *ngIf="germplasmGnpis.comment!=null">
              <th scope="row">Comments</th>
              <td>{{ germplasmGnpis.comment }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="container" >
      <div class="row">
        <div class="col">
          <h4>Origin</h4>
        </div>
      </div>
      <div class="row" *ngIf="germplasmGnpis.holdingInstitute!=null">
        <div class="col">
          <table class="table table-sm .table-responsive{-sm|-md|-lg|-xl}">
            <thead class="text-white">
            <tr>
              <th scope="col" colspan="2">
                Holding
              </th>
            </tr>
            </thead>
            <tr>
              <th scope="row">Institution</th>
              <td class="ellipsis"><a class="btn popovers"  placement="top" [ngbPopover]="holdingInstituteTemplate" [popoverTitle]="germplasmGnpis.holdingInstitute.instituteName">
                {{ germplasmGnpis.holdingInstitute.instituteName }}</a></td>
            </tr>
            <tr *ngIf="germplasmGnpis.holdingGenbank.instituteName">
              <th scope="row">Stock center name</th>
              <td>{{ germplasmGnpis.holdingGenbank.instituteName }}</td>
            </tr>
            <tr *ngIf="germplasmGnpis.presenceStatus">
              <th scope="row">Presence status</th>
              <td>{{ germplasmGnpis.presenceStatus }}</td>
            </tr>
          </table>

          <ng-template #holdingInstituteTemplate>
            <table>
              <tr *ngIf="germplasmGnpis.holdingInstitute.instituteCode!=null">
                <th scope="row">FAO code</th>
                <td>{{ germplasmGnpis.holdingInstitute.instituteCode }}</td>
              </tr>
              <tr *ngIf="germplasmGnpis.holdingInstitute.instituteName!=null">
                <th scope="row">Institute name</th>
                <td>{{ germplasmGnpis.holdingInstitute.instituteName }}</td>
              </tr>
              <tr *ngIf="germplasmGnpis.holdingInstitute.acronym!=null">
                <th scope="row">Acronym</th>
                <td>{{ germplasmGnpis.holdingInstitute.acronym }}</td>
              </tr>
              <tr *ngIf="germplasmGnpis.holdingInstitute.organisation!=null">
                <th scope="row">Organisation</th>
                <td>{{ germplasmGnpis.holdingInstitute.organisation }}</td>
              </tr>
              <tr class="ellipsis" *ngIf="germplasmGnpis.holdingInstitute.webSite!=null">
                <th scope="row">Link</th>
                <td class="ellipsis"><a href="{{ germplasmGnpis.holdingInstitute.webSite }}">{{ germplasmGnpis.holdingInstitute.webSite }}</a></td>
              </tr>
              <tr *ngIf="germplasmGnpis.holdingInstitute.address!=null">
                <th scope="row">Adresse</th>
                <td>{{ germplasmGnpis.holdingInstitute.address }}</td>
              </tr>
            </table>
          </ng-template>
        </div>
      </div>

      <div class="row" *ngIf="germplasmGnpis.collectingSite.siteName!=null">
        <div class="col">
          <table>
            <thead class="text-white">
            <tr>
              <th scope="col" colspan="2">
                Collecting site
              </th>
            </tr>
            </thead>
            <tr *ngIf="germplasmGnpis.collectingSite.siteName">
              <th scope="row">Name</th>
              <td>{{ germplasmGnpis.collectingSite.siteName }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row" *ngIf="germplasmGnpis.breeder.institute.instituteName!=null">
        <div class="col">
        <table class="table table-sm">
          <thead class="text-white">
          <tr>
            <th scope="col" colspan="2">
              Breeder
            </th>
          </tr>
          </thead>
          <tr *ngIf="germplasmGnpis.breeder.institute.instituteName!=null">
            <th scope="row">Institution</th>
            <td class="ellipsis"><a class="btn popovers"  placement="top" [ngbPopover]="BreederInstituteTemplate" [popoverTitle]="germplasmGnpis.breeder.institute.instituteName">
              {{ germplasmGnpis.breeder.institute.instituteName }} {{ germplasmGnpis.breeder.institute.instituteCode }}</a></td>
          </tr>
          <tr *ngIf="germplasmGnpis.breeder.accessionCreationDate!=null">
            <th scope="row">Accession Creation date</th>
            <td>{{ germplasmGnpis.breeder.accessionCreationDate }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.breeder.accessionNumber!=null">
            <th scope="row">Accession number</th>
            <td>{{ germplasmGnpis.breeder.accessionNumber }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.breeder.collectors!=null">
            <th scope="row">collectors</th>
            <td>{{ germplasmGnpis.breeder.collectors }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.breeder.deregistrationYear!=null">
            <th scope="row">Deregistration year</th>
            <td>{{ germplasmGnpis.breeder.deregistrationYear }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.breeder.registrationYear!=null">
            <th scope="row">Registration year</th>
            <td>{{ germplasmGnpis.breeder.registrationYear }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.breeder.distributionStatus!=null">
            <th scope="row">distributionStatus</th>
            <td>{{ germplasmGnpis.breeder.distributionStatus }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.breeder.germplasmPUI!=null">
            <th scope="row">germplasmPUI</th>
            <td>{{ germplasmGnpis.breeder.germplasmPUI }}</td>
          </tr>
        </table>
      </div>
      </div>

      <div class="row" *ngIf="germplasmGnpis.collector.institute.instituteName!=null">
        <div class="col">
        <table class="table table-sm .table-responsive{-sm|-md|-lg|-xl}">
          <thead class="text-white">
          <tr>
            <th scope="col" colspan="2">
              Collecting
            </th>
          </tr>
          </thead>
          <tr *ngIf="germplasmGnpis.collector.institute.instituteName!=null">
            <th scope="row">Institution</th>
            <td class="ellipsis"><a class="btn popovers"  placement="top" [ngbPopover]="CollectorInstituteTemplate" [popoverTitle]="germplasmGnpis.collector.institute.instituteName">
              {{ germplasmGnpis.collector.institute.instituteName }}</a></td>
          </tr>
          <tr *ngIf="germplasmGnpis.collector.accessionCreationDate!=null">
            <th scope="row">Accession Creation date</th>
            <td>{{ germplasmGnpis.collector.accessionCreationDate }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.collector.accessionNumber!=null">
            <th scope="row">Accession number</th>
            <td>{{ germplasmGnpis.collector.accessionNumber }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.collector.collectors!=null">
            <th scope="row">collectors</th>
            <td>{{ germplasmGnpis.collector.collectors }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.collector.deregistrationYear!=null">
            <th scope="row">Deregistration year</th>
            <td>{{ germplasmGnpis.collector.deregistrationYear }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.collector.distributionStatus!=null">
            <th scope="row">distributionStatus</th>
            <td>{{ germplasmGnpis.collector.distributionStatus }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.collector.germplasmPUI!=null">
            <th scope="row">germplasmPUI</th>
            <td>{{ germplasmGnpis.collector.germplasmPUI }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.collector.materialType!=null">
            <th scope="row">Material type</th>
            <td>{{ germplasmGnpis.collector.materialType }}</td>
          </tr>
        </table>
        </div>
      </div>

      <div class="row" *ngIf="germplasmGnpis.donors.length > 0">
        <div class="col">
        <table class="table table-sm .table-responsive{-sm|-md|-lg|-xl}">
          <thead class="text-white">
          <tr>
            <th scope="col" colspan="3">
              Donation
            </th>
          </tr>
          </thead>
          <tr>
            <th class="thead-light" scope="col">Institute</th>
            <th class="thead-light" scope="col" >Date</th>
            <th class="thead-light" scope="col" >Accession number</th>
          </tr>
          <tr *ngFor="let donor of germplasmGnpis.donors">
            <td class="ellipsis"><a class="btn popovers ellipsis"  placement="top" [ngbPopover]="DonorInstituteTemplate" [popoverTitle]="donor.donorInstitute.instituteName">
              {{ donor.donorInstitute.instituteName }}</a></td>
            <td *ngIf="donor.donationDate!=null">{{ donor.donationDate | date:"medium" }}</td>
            <td *ngIf="donor.donorAccessionNumber!=null">{{ donor.donorAccessionNumber }}</td>

            <ng-template #DonorInstituteTemplate >
              <table>
                <tr *ngIf="donor.donorInstitute.instituteCode!=null">
                  <th scope="row">Code</th>
                  <td>{{ donor.donorInstitute.instituteCode }}</td>
                </tr>
                <tr *ngIf="donor.donorInstitute.acronym!=null">
                  <th scope="row">Acronym</th>
                  <td>{{ donor.donorInstitute.acronym }}</td>
                </tr>
                <tr *ngIf="donor.donorInstitute.organisation!=null">
                  <th scope="row">Organisation</th>
                  <td>{{ donor.donorInstitute.organisation }}</td>
                </tr>
                <tr *ngIf="donor.donorInstitute.instituteType!=null">
                  <th scope="row">Type</th>
                  <td>{{ donor.donorInstitute.instituteType }}</td>
                </tr>
                <tr *ngIf="donor.donorInstitute.webSite!=null">
                  <th scope="row">Link</th>
                  <td class="ellipsis"><a href="{{ donor.donorInstitute.webSite }}">{{ donor.donorInstitute.webSite }}</a></td>
                </tr>
                <tr *ngIf="donor.donorInstitute.address!=null">
                  <th scope="row">Adress</th>
                  <td>{{ donor.donorInstitute.address }}</td>
                </tr>
              </table>
            </ng-template>
          </tr>
        </table>
        </div>
      </div>
      <!--<tr *ngIf="germplasmGnpis.evaluationSites.siteName!=null">
        <td>Evaluation sites</td>
        <td>{{ germplasmGnpis.evaluationSites.siteName }}</td>
      </tr>-->

      <div class="row">
        <div class="col">
        <ng-container *ngIf="germplasmGnpis.distributors?.length > 0">
          <table class="table table-sm .table-responsive{-sm|-md|-lg|-xl}">
            <thead class="text-white">
            <tr>
              <th scope="col" colspan="2">
                Distribution
              </th>
            </tr>
            </thead>
            <ng-container *ngFor="let distributor of germplasmGnpis.distributors">
              <tr>
                <th scope="row">{{ distributor.institute.instituteName }}</th>
                <td>{{ distributor.distributionStatus }}</td>
              </tr>
            </ng-container>
          </table>
        </ng-container>
        </div>
      </div>

      <ng-template #BreederInstituteTemplate>
        <table>
          <tr *ngIf="germplasmGnpis.breeder.institute.instituteCode!=null">
            <th scope="row">Code</th>
            <td>{{ germplasmGnpis.breeder.institute.instituteCode }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.breeder.institute.organisation!=null">
            <th scope="row">Organisation</th>
            <td>{{ germplasmGnpis.breeder.institute.organisation }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.breeder.institute.acronym!=null">
            <th scope="row">Acronym</th>
            <td>{{ germplasmGnpis.breeder.institute.acronym }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.breeder.institute.instituteType!=null">
            <th scope="row">Type</th>
            <td>{{ germplasmGnpis.breeder.institute.instituteType }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.breeder.institute.webSite!=null">
            <th scope="row">Link</th>
            <td class="ellipsis"><a href="{{ germplasmGnpis.breeder.institute.webSite }}">{{ germplasmGnpis.breeder.institute.webSite }}</a></td>
          </tr>
          <tr *ngIf="germplasmGnpis.breeder.institute.address!=null">
            <th scope="row">Adresse</th>
            <td>{{ germplasmGnpis.breeder.institute.address }}</td>
          </tr>

        </table>
      </ng-template>

      <ng-template #CollectorInstituteTemplate>
        <table>
          <tr *ngIf="germplasmGnpis.collector.instituteCode!=null">
            <th scope="row">FAO code</th>
            <td>{{ germplasmGnpis.collector.instituteCode }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.collector.instituteName!=null">
            <th scope="row">Institute name</th>
            <td>{{ germplasmGnpis.collector.instituteName }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.collector.acronym!=null">
            <th scope="row">Acronym</th>
            <td>{{ germplasmGnpis.collector.acronym }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.collector.organisation!=null">
            <th scope="row">Organisation</th>
            <td>{{ germplasmGnpis.collector.organisation }}</td>
          </tr>
          <tr *ngIf="germplasmGnpis.collector.institute.webSite!=null">
            <th scope="row">Link</th>
            <td class="ellipsis"><a href="{{ germplasmGnpis.collector.institute.webSite }}">{{ germplasmGnpis.collector.institute.webSite }}</a></td>
          </tr>
          <tr *ngIf="germplasmGnpis.collector.institute.address!=null">
            <th scope="row">Adresse</th>
            <td>{{ germplasmGnpis.collector.institute.address }}</td>
          </tr>
        </table>
      </ng-template>


      <ng-container *ngIf="germplasmPedigree.result!=null || germplasmProgeny.result!=null">
        <div class="row">
          <div class="col">
          <h4>Genealogy</h4>
          </div>
        </div>
        <div class="row" *ngIf="germplasmPedigree.result!=null">
          <div class="col">
          <table class="table table-sm .table-responsive{-sm|-md|-lg|-xl}">
            <thead class="text-white">
            <tr>
              <th scope="col" colspan="2">
                Ascendants
              </th>
            </tr>
            </thead>
            <tr *ngIf="germplasmPedigree.result.crossingPlan">
              <th scope="row">Crossing plan</th>
              <td>{{ germplasmPedigree.result.crossingPlan }}</td>
            </tr>
            <tr *ngIf="germplasmPedigree.result.crossingYear">
              <th scope="row">Crossing year</th>
              <td>{{ germplasmPedigree.result.crossingYear }}</td>
            </tr>
            <tr>
              <th scope="row">Parent accessions</th>
              <td><table>
                <ng-container [ngSwitch]="germplasmPedigree.result.parent1Type">
                  <tr *ngSwitchCase="'FEMALE'">
                    <th scope="row">Mother</th>
                    <td>{{ germplasmPedigree.result.parent1Name }}</td>
                  </tr>
                  <tr *ngSwitchCase="'MALE'">
                    <th scope="row">Father</th>
                    <td>{{ germplasmPedigree.result.parent1Name }}</td>
                  </tr>
                  <tr *ngSwitchCase="'SELF'">
                    <td>{{ germplasmPedigree.result.parent1Name }}</td>
                  </tr>
                  <tr *ngSwitchCase="'UNDEFINED'">
                    <td>{{ germplasmPedigree.result.parent1Name }}</td>
                  </tr>
                </ng-container>
                <ng-container [ngSwitch]="germplasmPedigree.result.parent2Type">
                  <tr *ngSwitchCase="'FEMALE'">
                    <th scope="row">Mother</th>
                    <td>{{ germplasmPedigree.result.parent2Name }}</td>
                  </tr>
                  <tr *ngSwitchCase="'MALE'">
                    <th scope="row">Father</th>
                    <td>{{ germplasmPedigree.result.parent2Name }}</td>
                  </tr>
                  <tr *ngSwitchCase="'SELF'">
                    <td>{{ germplasmPedigree.result.parent2Name }}</td>
                  </tr>
                  <tr *ngSwitchCase="'UNDEFINED'">
                    <td>{{ germplasmPedigree.result.parent2Name }}</td>
                  </tr>
                </ng-container>
              </table></td>
            </tr>
          </table>
          </div>
        </div>

        <ng-container *ngIf="germplasmPedigree.result.siblings?.length > 0">
          <div class="row ">
            <div class="col">
            <table class="table table-sm .table-responsive{-sm|-md|-lg|-xl}">
              <thead class="text-white">
              <tr>
                <th scope="col" colspan="2">
                  Siblings
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">Accession numbers</th>
                <td class="scroll"><a routerLink="/germplasm/{{ sibling.germplasmDbId }}" *ngFor="let sibling of germplasmPedigree.result.siblings"> {{ sibling.defaultDisplayName }}</a></td>
              </tr>
              </tbody>
            </table>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="germplasmGnpis.collector?.length > 0">
        <div class="row">
          <div class="col">
          <table class="table table-sm .table-responsive{-sm|-md|-lg|-xl}">
            <thead class="text-white">
            <tr>
              <th scope="col" colspan="2">
                Collector
              </th>
            </tr>
            </thead>
            <tr *ngIf="germplasmGnpis.collector.accessionNumber">
              <th scope="row">accessionNumber</th>
              <td>{{ germplasmGnpis.collector.accessionNumber }}</td>
            </tr>

            <tr *ngIf="germplasmGnpis.collector.collectors.length > 0">
              <th scope="row">collectors</th>
              <ng-container *ngFor="let collector of germplasmGnpis.collector.collectors">
                <td>{{ collector }}</td>
              </ng-container>
            </tr>

            <tr *ngIf="germplasmGnpis.collector.deregistrationYear">
              <th scope="row">deregistrationYear</th>
              <td>{{ germplasmGnpis.collector.deregistrationYear }}</td>
            </tr>
            <tr *ngIf="germplasmGnpis.collector.distributionStatus">
              <th scope="row">distributionStatus</th>
              <td>{{ germplasmGnpis.collector.distributionStatus }}</td>
            </tr>

            <tr *ngIf="germplasmGnpis.collector.instituteName">
              <th scope="row">Institute</th>
              <td>{{ germplasmGnpis.collector.instituteName }}</td>
            </tr>

            <tr *ngIf="germplasmGnpis.collector.materialType">
              <th scope="row">Material type</th>
              <td>{{ germplasmGnpis.collector.materialType }}</td>
            </tr>

            <tr *ngIf="germplasmGnpis.collector.registrationYear">
              <th scope="row">Registration Year</th>
              <td>{{ germplasmGnpis.collector.registrationYear }}</td>
            </tr>
          </table>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="germplasmAttributes.length > 0">
        <div class="row">
          <div class="col">
          <h4>Evaluation Data</h4>
          <table class="table table-sm .table-responsive{-sm|-md|-lg|-xl}">

            <ng-container *ngFor="let descriptor of germplasmAttributes">
              <tr>
                <th scope="row">{{ descriptor.attributeName }}</th>
                <td>{{ descriptor.value }}</td>
              </tr>
            </ng-container>
          </table>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="germplasmGnpis.collection.length > 0">
        <div class="row">
          <div class="col">
          <h4>Collection</h4>
          <table class="table table-sm .table-responsive{-sm|-md|-lg|-xl}">
            <ng-container *ngFor="let collection of germplasmGnpis.collection">
              <tr>
                <th scope="row">{{ collection.name }}</th>
                <td class="ellipsis"><a href="/form/germplasmLists={{ collection.name }}&types=Germplasm">
                  {{ collection.germplasmCount }} accessions</a>
                </td>
              </tr>
            </ng-container>
          </table>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="germplasmGnpis.panel.length > 0">
        <div class="row">
          <div class="col">
          <h4>Panel</h4>
          <table class="table table-sm .table-responsive{-sm|-md|-lg|-xl}">
            <ng-container *ngFor="let panel of germplasmGnpis.panel">
              <tr>
                <th scope="row">{{ panel.name }}</th>
                <td><a href="/form/germplasmLists={{ panel.name }}&types=Germplasm">
                  {{ panel.germplasmCount }} accessions</a></td>
              </tr>
            </ng-container>
          </table>
        </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

