<gpds-loading-spinner [loading]="loading" class="float-right"></gpds-loading-spinner>

<ng-container *ngIf="germplasmGnpis">
  <h3 class="mb-4">
    <img *ngIf="germplasmGnpis.holdingGenbank && germplasmGnpis.holdingGenbank.instituteName"
         [src]="germplasmGnpis.holdingGenbank.logo"
         align="right"/>
    Germplasm: {{ germplasmGnpis.germplasmName }}
  </h3>

  <!-- Display the map -->
  <gpds-map [locations]="germplasmLocations"></gpds-map>

  <div class="row align-items-center">

    <!--Templates for gerplasm card-->

    <ng-template #taxonTemplate>
      <gpds-card-row
        label="Genus"
        [test]="germplasmGnpis.genus">
        <ng-template>
          <i>{{ germplasmGnpis.genus }}</i>
        </ng-template>
      </gpds-card-row>

      <gpds-card-row
        label="Species"
        [test]="germplasmGnpis.species">
        <ng-template>
          <i>{{ germplasmGnpis.species }}</i>
          {{ germplasmGnpis.speciesAuthority ? '(' + germplasmGnpis.speciesAuthority + ')' : '' }}
        </ng-template>
      </gpds-card-row>

      <gpds-card-row
        label="Subtaxa"
        [test]="germplasmGnpis.subtaxa">
        <ng-template>
          <i>{{ germplasmGnpis.subtaxa }}</i>
          {{ germplasmGnpis.subtaxaAuthority ? '(' + germplasmGnpis.subtaxaAuthority + ')' : '' }}
        </ng-template>
      </gpds-card-row>

      <gpds-card-row
        label="Authority"
        [test]="germplasmTaxonAuthor">
        <ng-template>
          {{ germplasmTaxonAuthor }}
        </ng-template>
      </gpds-card-row>

      <gpds-card-row
        label="Taxon ID"
        [test]="taxonIdsWithURL && taxonIdsWithURL.length > 0">
        <ng-template>
          <ng-container *ngFor="let taxonRef of taxonIdsWithURL">

            <gpds-card-row
              [label]="taxonRef.sourceName"
              [test]="taxonRef.url">
              <ng-template>
                <a [href]="taxonRef.url" target="_blank">
                  {{ taxonRef.taxonId }}
                </a>
              </ng-template>
            </gpds-card-row>

            <gpds-card-row
              [label]="taxonRef.sourceName"
              [test]="!taxonRef.url">
              <ng-template>
                {{ taxonRef.taxonId }}
              </ng-template>
            </gpds-card-row>

          </ng-container>
        </ng-template>
      </gpds-card-row>

      <gpds-card-row
        label="Comment"
        [test]="germplasmGnpis.taxonComment">
        <ng-template>
          {{ germplasmGnpis.taxonComment }}
        </ng-template>
      </gpds-card-row>

      <gpds-card-row
        label="Taxon common names"
        [test]="germplasmGnpis.taxonCommonNames && germplasmGnpis.taxonCommonNames.length > 0">
        <ng-template>
          <div class="content-overflow">
            {{ germplasmGnpis.taxonCommonNames.join(', ') }}
          </div>
        </ng-template>
      </gpds-card-row>

      <gpds-card-row
        label="Taxon synonyms"
        [test]="germplasmGnpis.taxonSynonyms && germplasmGnpis.taxonSynonyms.length > 0">
        <ng-template>
          <div class="content-overflow">
            <i>{{ germplasmGnpis.taxonSynonyms.join(', ') }}</i>
          </div>
        </ng-template>
      </gpds-card-row>
    </ng-template>

    <ng-template #instituteTemplate let-logo="logo" let-code="instituteCode" let-acronym="acronym" let-organisation="organisation" let-type="instituteType" let-webSite="webSite" let-address="address">
      <gpds-card-row
        label=""
        [test]="logo">
        <ng-template>
          <img
            [src]="logo"/>
        </ng-template>
      </gpds-card-row>

      <gpds-card-row
        label="Code"
        [value]="code">
      </gpds-card-row>

      <gpds-card-row
        label="Acronym"
        [value]="acronym">
      </gpds-card-row>

      <gpds-card-row
        label="Organisation"
        [value]="organisation">
      </gpds-card-row>

      <gpds-card-row
        label="Type"
        [value]="type">
      </gpds-card-row>

      <gpds-card-row
        label="Address"
        [value]="address">
      </gpds-card-row>

      <gpds-card-row
        label="Website"
        [test]="webSite">
        <ng-template>
          <a [href]="webSite" target="_blank">
            {{ webSite }}
          </a>
        </ng-template>
      </gpds-card-row>
    </ng-template>

    <ng-template #holdingInstituteTemplate>
      <ng-container *ngTemplateOutlet="instituteTemplate;context:germplasmGnpis.holdingInstitute">
      </ng-container>
    </ng-template>

    <ng-template #collectorInstituteTemplate>
      <ng-container *ngTemplateOutlet="instituteTemplate;context:germplasmGnpis.collector.institute">
      </ng-container>
    </ng-template>

    <ng-template #breederInstituteTemplate>
      <ng-container *ngTemplateOutlet="instituteTemplate;context:germplasmGnpis.breeder.institute">
      </ng-container>
    </ng-template>

    <!--Section for the image representing the germplasm and the details about this image-->
    <div class="col-auto field" *ngIf="germplasmGnpis.photo && germplasmGnpis.photo.thumbnailFile">
      <a class="btn popovers" data-boundary="window" placement="right"
         [ngbPopover]="imageTemplate"
         [popoverTitle]="germplasmGnpis.photo.photoName" container="body">
        <img
          [src]="germplasmGnpis.photo.thumbnailFile"
          class="img-fluid">
        <figcaption class="figure-caption">
          Click to see more details
        </figcaption>
      </a>

      <ng-template #imageTemplate>
        <div class="card ngb-popover-window ">
          <img class="card-img-top"
               [src]="germplasmGnpis.photo.file"
               alt="" width="250px">
          <div class="card-body">

            <gpds-card-row
              label="Accession name"
              [value]="germplasmGnpis.germplasmName">
            </gpds-card-row>

            <gpds-card-row
              label="Photo name"
              [value]="germplasmGnpis.photo.photoName">
            </gpds-card-row>

            <gpds-card-row
              label="Description"
              [value]="germplasmGnpis.photo.description">
            </gpds-card-row>

            <gpds-card-row
              label="Copyright"
              [value]="'© '+germplasmGnpis.photo.copyright">
            </gpds-card-row>
          </div>
        </div>
      </ng-template>
    </div>

    <!--Section for the information about the identification of the germplasm-->
    <gpds-card-section
      class="col-12 col-lg"
      header="Identification">
      <ng-template>
        <div class="card-body card-section-body">

          <gpds-card-row
            label="Germplasm name"
            [value]="germplasmGnpis.germplasmName">
          </gpds-card-row>

          <gpds-card-row
            label="Accession number"
            [value]="germplasmGnpis.accessionNumber">
          </gpds-card-row>

          <gpds-card-row
            label="Permanent Unique Identifier"
            [value]="germplasmGnpis.germplasmPUI">
          </gpds-card-row>

          <gpds-card-row
            label="Source"
            [test]="germplasmSource">
            <ng-template>
              <a target="_blank"
                 [href]="germplasmSource['schema:url']">
                <img [src]="germplasmSource['schema:image']" alt="Germplasm source image"/>
              </a>
            </ng-template>
          </gpds-card-row>

          <gpds-card-row
            label="Data source"
            [test]="germplasmSource['schema:identifier'] && germplasmGnpis.documentationURL">
            <ng-template>
              <a target="_blank" [href]="germplasmGnpis.documentationURL">
                Link to this study on {{ germplasmSource['schema:identifier'] }}
              </a>
            </ng-template>
          </gpds-card-row>

          <gpds-card-row
            label="Accession synonyms"
            [test]="germplasmGnpis.synonyms && germplasmGnpis.synonyms.length > 0">
            <ng-template>
              <div class="content-overflow">
                {{ germplasmGnpis.synonyms.join(', ') }}
              </div>
            </ng-template>
          </gpds-card-row>

          <gpds-card-row
            label="Taxon"
            [test]="germplasmTaxon">
            <ng-template>
              <a class="popover-underline" data-boundary="window" placement="top"
                 [autoClose]="'outside'"
                 [ngbPopover]="taxonTemplate"
                 [popoverTitle]="germplasmTaxon"
                 container="body">
                <i>{{ germplasmTaxon }}</i>
                {{ germplasmTaxonAuthor ? '(' + germplasmTaxonAuthor + ')' : '' }}
              </a>
            </ng-template>
          </gpds-card-row>

          <gpds-card-row
            label="Biological status"
            [value]="germplasmGnpis.biologicalStatusOfAccessionCode">
          </gpds-card-row>

          <gpds-card-row
            label="Genetic nature"
            [value]="germplasmGnpis.geneticNature">
          </gpds-card-row>

          <gpds-card-row
            label="Seed source"
            [value]="germplasmGnpis.seedSource">
          </gpds-card-row>

          <gpds-card-row
            label="Pedigree"
            [value]="germplasmGnpis.pedigree">
          </gpds-card-row>

          <gpds-card-row
            label="Comments"
            [value]="germplasmGnpis.comment">
          </gpds-card-row>

          <gpds-card-row
            label="Origin site"
            [test]="germplasmGnpis.originSite && germplasmGnpis.originSite.siteName">
            <ng-template>
              <a [routerLink]="['/sites/', germplasmGnpis.originSite.siteId]">
                {{ germplasmGnpis.originSite.siteName }}
              </a>
            </ng-template>
          </gpds-card-row>

        </div>
      </ng-template>
    </gpds-card-section>
  </div>

  <!--Section for the information about the holding of the germplasm-->
  <gpds-card-section
    header="Holding"
    [test]="germplasmGnpis.holdingInstitute">
    <ng-template>
      <div class="card-body card-section-body">

        <gpds-card-row
          label="Institution">
          <ng-template>
            <a class="popover-underline" data-boundary="window" placement="top"
               [ngbPopover]="holdingInstituteTemplate"
               [popoverTitle]="germplasmGnpis.holdingInstitute.instituteName"
               container="body">
              {{ germplasmGnpis.holdingInstitute.instituteName }}</a>
          </ng-template>
        </gpds-card-row>
  
        <gpds-card-row
          label="Stock center name"
          [test]="germplasmGnpis.holdingGenbank.instituteName && germplasmGnpis.holdingGenbank.webSite">
          <ng-template>
            <a [href]="germplasmGnpis.holdingGenbank.webSite" target="_blank">
              {{ germplasmGnpis.holdingGenbank.instituteName }}
            </a>
          </ng-template>
        </gpds-card-row>

        <gpds-card-row
          label="Stock center name"
          [test]="germplasmGnpis.holdingGenbank.instituteName && !germplasmGnpis.holdingGenbank.webSite">
          <ng-template>
            {{ germplasmGnpis.holdingGenbank.instituteName }}
          </ng-template>
        </gpds-card-row>

        <gpds-card-row
          label="Presence status"
          [value]="germplasmGnpis.presenceStatus">
        </gpds-card-row>

      </div>
    </ng-template>
  </gpds-card-section>

  <!--Section for the information about the collector of the germplasm-->
  <gpds-card-section
    header="Collecting"
    [test]="checkCollecting()">
    <ng-template>
      <div class="card-body card-section-body">

        <gpds-card-row
          label="Collecting site"
          [test]="germplasmGnpis.collectingSite && germplasmGnpis.collectingSite.siteName">
          <ng-template>
            <a [routerLink]="['/sites/', germplasmGnpis.collectingSite.siteId]">
              {{ germplasmGnpis.collectingSite.siteName }}
            </a>
          </ng-template>
        </gpds-card-row>

        <gpds-card-row
          label="Material type"
          [test]="germplasmGnpis.collector && germplasmGnpis.collector.materialType">
          <ng-template>
            {{ germplasmGnpis.collector.materialType }}
          </ng-template>
        </gpds-card-row>

        <gpds-card-row
          label="Collectors"
          [test]="germplasmGnpis.collector && germplasmGnpis.collector.collectors">
          <ng-template>
            {{ germplasmGnpis.collector.collectors }}
          </ng-template>
        </gpds-card-row>

        <gpds-card-row
          label="Acquisition/Creation date"
          [test]="germplasmGnpis.collector.accessionCreationDate">
          <ng-template>
            {{ germplasmGnpis.collector.accessionCreationDate | amParse:'YYYYMMDD' | amDateFormat:'YYYY-MM-DD' }}
          </ng-template>
        </gpds-card-row>

        <gpds-card-row
          label="Acquisition/Creation date"
          [test]="germplasmGnpis.acquisitionDate && !germplasmGnpis.collector.accessionCreationDate">
          <ng-template>
            {{ germplasmGnpis.acquisitionDate }}
          </ng-template>
        </gpds-card-row>

        <gpds-card-row
          label="Institution"
          [test]="germplasmGnpis.collector.institute && germplasmGnpis.collector.institute.instituteName">
          <ng-template>
            <a class="popover-underline" data-boundary="window" placement="top"
               [ngbPopover]="collectorInstituteTemplate"
               [popoverTitle]="germplasmGnpis.collector.institute.instituteName">
              {{ germplasmGnpis.collector.institute.instituteName }}
            </a>
          </ng-template>
        </gpds-card-row>

        <gpds-card-row
          label="Accession number"
          [test]="germplasmGnpis.collector && germplasmGnpis.collector.accessionNumber">
          <ng-template>
            {{ germplasmGnpis.collector.accessionNumber }}
          </ng-template>
        </gpds-card-row>

      </div>
    </ng-template>
  </gpds-card-section>

  <!--Section for the information about the breeder of the germplasm-->
  <gpds-card-section
    header="Breeder"
    [test]="checkBreeder()">
    <ng-template>
      <div class="card-body card-section-body">

        <gpds-card-row
          label="Institute"
          [test]="germplasmGnpis.breeder.institute && germplasmGnpis.breeder.institute.instituteName">
          <ng-template>
            <a class="popover-underline" data-boundary="window" placement="top"
               [ngbPopover]="breederInstituteTemplate"
               [popoverTitle]="germplasmGnpis.breeder.institute.instituteName">
              {{ germplasmGnpis.breeder.institute.instituteName }}
            </a>
          </ng-template>
        </gpds-card-row>

        <gpds-card-row
          label="Accession creation year"
          [value]="germplasmGnpis.breeder.accessionCreationDate ">
        </gpds-card-row>

        <gpds-card-row
          label="Accession number"
          [value]="germplasmGnpis.breeder.accessionNumber">
        </gpds-card-row>

        <gpds-card-row
          label="Catalog registration year"
          [value]="germplasmGnpis.breeder.registrationYear">
        </gpds-card-row>

        <gpds-card-row
          label="Catalog deregistration year"
          [value]="germplasmGnpis.breeder.deregistrationYear">
        </gpds-card-row>

      </div>
    </ng-template>
  </gpds-card-section>

  <!--Section for the information about the donor of the germplasm-->
  <gpds-card-section
    header="Donor"
    [test]="germplasmGnpis.donors && germplasmGnpis.donors.length > 0">
    <ng-template>

      <gpds-card-table
        [headers]="[
                'Institute name',
                'Institute code',
                'Donation date',
                'Accession number',
                'Accession PUI'
                ]"
        [rows]="germplasmGnpis.donors">
        <ng-template let-row>
          <tr>
            <ng-template #donorInstituteTemplate>
              <ng-container *ngTemplateOutlet="instituteTemplate;context:row.donorInstitute">
              </ng-container>
            </ng-template>

            <td>
              <a class="popovers" placement="top"
                 [ngbPopover]="donorInstituteTemplate"
                 [popoverTitle]="row.donorInstitute.instituteName">
                {{ row.donorInstitute.instituteName }}
              </a>
            </td>
            <td>{{ row.donorInstituteCode }}</td>
            <td>{{ row.donationDate }}</td>
            <td>{{ row.donorAccessionNumber }}</td>
            <td>{{ row.donorGermplasmPUI }}</td>
            </tr>
        </ng-template>
      </gpds-card-table>

    </ng-template>
  </gpds-card-section>

  <!--Section for the information about the distributor of the germplasm-->
  <gpds-card-section
    header="Distributor"
    [test]="germplasmGnpis.distributors && germplasmGnpis.distributors.length>0">
    <ng-template>

      <!--TODO : Add order column when ordering URL will be available-->
      <gpds-card-table
        [headers]="[
        'Institute',
        'Accession number',
        'Distribution status'
        ]"
        [rows]="germplasmGnpis.distributors">
        <ng-template let-row>
          <tr>
            <ng-template #distributorInstituteTemplate>
              <ng-container *ngTemplateOutlet="instituteTemplate;context:row.institute">
              </ng-container>
            </ng-template>

            <td>
              <a class="popovers" placement="top"
                 [ngbPopover]="instituteTemplate"
                 [popoverTitle]="row.institute.instituteName">
                {{ row.institute.instituteName }}
              </a>
            </td>
            <td>{{ row.accessionNumber }}</td>
            <td>{{ row.distributionStatus }}</td>
          </tr>
        </ng-template>
      </gpds-card-table>

    </ng-template>
  </gpds-card-section>

  <!--Section for the information about the primary descriptors of the germplasm-->
  <gpds-card-section
    header="Evaluation Data"
    [test]="germplasmAttributes && germplasmAttributes.length > 0">
    <ng-template>
      <div class="card-body card-section-body">

        <ng-container *ngFor="let descriptor of germplasmAttributes">
          <gpds-card-row
            [label]="descriptor.attributeName"
            [value]="descriptor.value">
          </gpds-card-row>
        </ng-container>

      </div>
    </ng-template>
  </gpds-card-section>

  <!--Section for the information about the genealoggy of the germplasm-->
  <gpds-card-section
    header="Genealogy"
    [test]="checkPedigree() || checkProgeny()">
    <ng-template>
      <div class="card-body card-section-body">

        <gpds-card-row
          label="Crossing plan"
          [test]="germplasmPedigree && germplasmPedigree.crossingPlan">
          <ng-template>
            {{ germplasmPedigree.crossingPlan }}
          </ng-template>
        </gpds-card-row>

        <gpds-card-row
          label="Crossing year"
          [test]="germplasmPedigree && germplasmPedigree.crossingYear">
          <ng-template>
            {{ germplasmPedigree.crossingYear }}
          </ng-template>
        </gpds-card-row>

        <gpds-card-row
          label="Family code"
          [test]="germplasmPedigree && germplasmPedigree.familyCode">
          <ng-template>
            {{ germplasmPedigree.familyCode }}
          </ng-template>
        </gpds-card-row>

        <gpds-card-row
          label="Parent accessions"
          [test]="germplasmPedigree && germplasmPedigree.parent1Name">

          <ng-template>
            <gpds-card-row
              [label]="germplasmPedigree.parent1Type"
              [test]="germplasmPedigree && germplasmPedigree.parent1DbId">
              <ng-template>
                <a [routerLink]="['/germplasm']"
                   [queryParams]="{id:germplasmPedigree.parent1DbId}">
                  {{ germplasmPedigree.parent1Name }}
                </a>
              </ng-template>
            </gpds-card-row>

            <gpds-card-row
              [label]="germplasmPedigree.parent2Type"
              [test]="germplasmPedigree && germplasmPedigree.parent2DbId">
              <ng-template>
                <a [routerLink]="['/germplasm']"
                   [queryParams]="{id:germplasmPedigree.parent2DbId}">
                  {{ germplasmPedigree.parent2Name }}
                </a>
              </ng-template>
            </gpds-card-row>

          </ng-template>
        </gpds-card-row>

        <gpds-card-row
          label="Sibling accession"
          [test]="germplasmPedigree && (germplasmPedigree.siblings && germplasmPedigree.siblings.length > 0)">
          <ng-template>

            <div class="content-overflow">
              <ng-container *ngFor="let sibling of germplasmPedigree.siblings">
                <a [routerLink]="['/germplasm']" [queryParams]="{id:sibling.germplasmDbId }">
                  {{ sibling.defaultDisplayName }}
                </a>
              </ng-container>
            </div>

          </ng-template>
        </gpds-card-row>

        <gpds-card-row
          label="Descendant"
          [test]="checkProgeny()">
        </gpds-card-row>

        <div class="content-overflow-big">
          <ng-container *ngFor="let child of germplasmProgeny">

            <gpds-card-row class="text"
                           [label]="child.secondParentName ? 'child(ren) of ' + child.firstParentName + ' x ' + child.secondParentName : 'child(ren) of ' + child.firstParentName"
                           [test]="checkProgeny()">
              <ng-template>

                <ng-container *ngFor="let sibling of child.sibblings">
                  <a [routerLink]="['/germplasm']" [queryParams]="{id:sibling.pui}">
                    {{ sibling.name }}
                  </a>
                </ng-container>

              </ng-template>
            </gpds-card-row>
          </ng-container>
        </div>

      </div>
    </ng-template>
  </gpds-card-section>

  <!--Section for the information about the population, collection and panel of the germplasm-->
  <gpds-card-section
    header="Population"
    [test]="germplasmGnpis.population && germplasmGnpis.population.length > 0">
    <ng-template>
       <div class="card-body card-section-body card-section-body">
        <ng-container *ngFor="let population of germplasmGnpis.population">

          <gpds-card-row
            [label]="population.type ? population.name + ' (' + population.type + ')' : population.name"
            [test]="population.germplasmRef && population.germplasmRef.pui && population.germplasmRef.pui != germplasmGnpis.germplasmDbId">
            <ng-template>
              <a [routerLink]="['/germplasm']"
                 [queryParams]="{id:population.germplasmRef.pui}">
                {{ population.germplasmRef.name }}
              </a> is composed by <a
              [routerLink]="['/']"
              [queryParams]="{germplasmLists: population.name, types: 'Germplasm'}">
              {{ population.germplasmCount }} accessions
            </a>
            </ng-template>
          </gpds-card-row>

          <gpds-card-row
            [label]="population.type ? population.name + ' (' + population.type + ')' : population.name"
            [test]="population.germplasmRef && population.germplasmRef.pui && population.germplasmRef.pui == germplasmGnpis.germplasmDbId">
            <ng-template>
              {{ population.germplasmRef.name }} is composed by <a
              [routerLink]="['/']"
              [queryParams]="{germplasmLists: population.name, types: 'Germplasm'}">
              {{ population.germplasmCount }} accessions
            </a>
            </ng-template>
          </gpds-card-row>

          <gpds-card-row
            [label]="population.type ? population.name + ' (' + population.type + ')' : population.name"
            [test]="population.germplasmRef && !population.germplasmRef.pui">
            <ng-template>
              <a [routerLink]="['/']"
                 [queryParams]="{germplasmLists: population.name, types: 'Germplasm'}">
                {{ population.germplasmCount }} accessions
              </a>
            </ng-template>
          </gpds-card-row>

        </ng-container>
      </div>
    </ng-template>
  </gpds-card-section>

  <gpds-card-section
    header="Collection"
    [test]="germplasmGnpis.collection && germplasmGnpis.collection.length > 0">
    <ng-template>
      <div class="card-body card-section-body">
        <ng-container *ngFor="let collection of germplasmGnpis.collection">

          <gpds-card-row
            [label]="collection.type ? collection.name + ' (' + collection.type + ')' : collection.name">
            <ng-template>
              <a [routerLink]="['/']"
                 [queryParams]="{germplasmLists: collection.name, types: 'Germplasm'}">
                {{ collection.germplasmCount }} accessions
              </a>
            </ng-template>
          </gpds-card-row>

        </ng-container>
      </div>
    </ng-template>
  </gpds-card-section>

  <gpds-card-section
    header="Panel"
    [test]="germplasmGnpis.panel && germplasmGnpis.panel.length > 0">
    <ng-template>
      <div class="card-body card-section-body">
        <ng-container *ngFor="let panel of germplasmGnpis.panel">

          <gpds-card-row
            [label]="panel.type ? panel.name + ' (' + panel.type + ')' : panel.name">
            <ng-template>
              <a [routerLink]="['/']"
                 [queryParams]="{germplasmLists: panel.name, types: 'Germplasm'}">
                {{ panel.germplasmCount }} accessions
              </a>
            </ng-template>
          </gpds-card-row>

        </ng-container>
      </div>
    </ng-template>
  </gpds-card-section>

  <!-- XRefs part -->
  <gpds-xrefs [xrefId]="germplasmGnpis.germplasmPUI"></gpds-xrefs>
</ng-container>

