<faidare-loading-spinner [loading]="loading" class="float-right"></faidare-loading-spinner>

<ng-container *ngIf="germplasmGnpis">
  <h3 class="mb-4">
    <img *ngIf="!loading && germplasmGnpis.holdingGenbank && germplasmGnpis.holdingGenbank.instituteName"
         [src]="germplasmGnpis.holdingGenbank.logo"
         align="right"/>
    Germplasm: {{ germplasmGnpis.germplasmName }}
  </h3>

  <!-- Display the map -->
  <faidare-map [locations]="germplasmLocations"></faidare-map>

  <div class="row align-items-center justify-content-center">

    <!--Templates for gerplasm card-->

    <ng-template #taxonTemplate>
      <faidare-card-row
        label="Genus"
        [test]="germplasmGnpis.genus">
        <ng-template>
          <i>{{ germplasmGnpis.genus }}</i>
        </ng-template>
      </faidare-card-row>

      <faidare-card-row
        label="Species"
        [test]="germplasmGnpis.species">
        <ng-template>
          <i>{{ germplasmGnpis.species }}</i>
          {{ germplasmGnpis.speciesAuthority ? '(' + germplasmGnpis.speciesAuthority + ')' : '' }}
        </ng-template>
      </faidare-card-row>

      <faidare-card-row
        label="Subtaxa"
        [test]="germplasmGnpis.subtaxa">
        <ng-template>
          <i>{{ germplasmGnpis.subtaxa }}</i>
          {{ germplasmGnpis.subtaxaAuthority ? '(' + germplasmGnpis.subtaxaAuthority + ')' : '' }}
        </ng-template>
      </faidare-card-row>


      <faidare-card-row
        label="Authority"
        [test]="germplasmTaxonAuthor">
        <ng-template>
          {{ germplasmTaxonAuthor }}
        </ng-template>
      </faidare-card-row>

      <faidare-card-row
        label="Taxon ID"
        [test]="taxonIdsWithURL && taxonIdsWithURL.length > 0">
        <ng-template>
          <ng-container *ngFor="let taxonRef of taxonIdsWithURL">

            <faidare-card-row
              [label]="taxonRef.sourceName"
              [test]="taxonRef.url">
              <ng-template>
                <a [href]="taxonRef.url" target="_blank">
                  {{ taxonRef.taxonId }}
                </a>
              </ng-template>
            </faidare-card-row>

            <faidare-card-row
              [label]="taxonRef.sourceName"
              [test]="!taxonRef.url">
              <ng-template>
                {{ taxonRef.taxonId }}
              </ng-template>
            </faidare-card-row>

          </ng-container>
        </ng-template>
      </faidare-card-row>

      <faidare-card-row
        label="Comment"
        [test]="germplasmGnpis.taxonComment">
        <ng-template>
          {{ germplasmGnpis.taxonComment }}
        </ng-template>
      </faidare-card-row>

      <faidare-card-row
        label="Taxon common names"
        [test]="germplasmGnpis.taxonCommonNames && germplasmGnpis.taxonCommonNames.length > 0">
        <ng-template>
          <div class="content-overflow">
            {{ germplasmGnpis.taxonCommonNames.join(', ') }}
          </div>
        </ng-template>
      </faidare-card-row>

      <faidare-card-row
        label="Taxon synonyms"
        [test]="germplasmGnpis.taxonSynonyms && germplasmGnpis.taxonSynonyms.length > 0">
        <ng-template>
          <div class="content-overflow">
            <i>{{ germplasmGnpis.taxonSynonyms.join(', ') }}</i>
          </div>
        </ng-template>
      </faidare-card-row>
    </ng-template>

    <ng-template #instituteTemplate let-logo="logo" let-code="instituteCode" let-acronym="acronym"
                 let-organisation="organisation" let-type="instituteType" let-webSite="webSite" let-address="address">
      <faidare-card-row
        label=""
        [test]="logo">
        <ng-template>
          <img
            [src]="logo"/>
        </ng-template>
      </faidare-card-row>

      <faidare-card-row
        label="Code"
        [value]="code">
      </faidare-card-row>

      <faidare-card-row
        label="Acronym"
        [value]="acronym">
      </faidare-card-row>

      <faidare-card-row
        label="Organisation"
        [value]="organisation">
      </faidare-card-row>

      <faidare-card-row
        label="Type"
        [value]="type">
      </faidare-card-row>

      <faidare-card-row
        label="Address"
        [value]="address">
      </faidare-card-row>

      <faidare-card-row
        label="Website"
        [test]="webSite">
        <ng-template>
          <a [href]="webSite" target="_blank">
            {{ webSite }}
          </a>
        </ng-template>
      </faidare-card-row>
    </ng-template>

    <ng-template #holdingInstituteTemplate>
      <ng-container *ngTemplateOutlet="instituteTemplate;context:germplasmGnpis.holdingInstitute">
      </ng-container>
    </ng-template>

    <ng-template #collectorInstituteTemplate>
      <ng-container *ngTemplateOutlet="instituteTemplate;context:germplasmGnpis.collector.institute">
      </ng-container>
    </ng-template>

    <ng-template #breederInstituteTemplate>
      <ng-container *ngTemplateOutlet="instituteTemplate;context:germplasmGnpis.breeder.institute">
      </ng-container>
    </ng-template>

    <!--Section for the image representing the germplasm and the details about this image-->
    <div class="col-auto field" *ngIf="germplasmGnpis.photo && germplasmGnpis.photo.thumbnailFile">
      <a class="btn popovers" data-boundary="window" placement="auto"
         [autoClose]="'outside'"
         [ngbPopover]="imageTemplate"
         [popoverTitle]="germplasmGnpis.photo.photoName" container="body">
        <img
          [src]="germplasmGnpis.photo.thumbnailFile"
          class="img-fluid">

        <figcaption class="figure-caption" style="color: #0f6fa1;">
          © {{ germplasmGnpis.photo.copyright }}
        </figcaption>
      </a>

      <ng-template #imageTemplate>
        <div class="card ngb-popover-window ">
          <img class="card-img-top"
               [src]="germplasmGnpis.photo.file"
               alt="" style="max-width:500px; max-height:550px">
          <div class="card-body">

            <faidare-card-row
              label="Accession name"
              [value]="germplasmGnpis.germplasmName">
            </faidare-card-row>

            <faidare-card-row
              label="Photo name"
              [value]="germplasmGnpis.photo.photoName">
            </faidare-card-row>

            <faidare-card-row
              label="Description"
              [value]="germplasmGnpis.photo.description">
            </faidare-card-row>

            <faidare-card-row
              label="Copyright"
              [value]="'© '+germplasmGnpis.photo.copyright">
            </faidare-card-row>
          </div>
        </div>
      </ng-template>
    </div>

    <!--Section for the information about the identification of the germplasm-->
    <faidare-card-section
      class="col-12 col-lg"
      header="Identification">
      <ng-template>
        <div class="card-body card-section-body">

          <faidare-card-row
            label="Germplasm name"
            [value]="germplasmGnpis.germplasmName">
          </faidare-card-row>

          <faidare-card-row
            label="Accession number"
            [value]="germplasmGnpis.accessionNumber">
          </faidare-card-row>

          <!-- Display generic document details (PUI, data source links, etc.) -->
          <faidare-card-generic-document
            [document]="germplasmGnpis"
            documentType="germplasm">
          </faidare-card-generic-document>

          <faidare-card-row
            label="Accession synonyms"
            [test]="germplasmGnpis.synonyms && germplasmGnpis.synonyms.length > 0">
            <ng-template>
              <div class="content-overflow">
                {{ germplasmGnpis.synonyms.join(', ') }}
              </div>
            </ng-template>
          </faidare-card-row>

          <faidare-card-row
            label="Taxon"
            [test]="germplasmTaxon">
            <ng-template>
              <a class="popover-underline" data-boundary="window" placement="auto"
                 [autoClose]="'outside'"
                 [ngbPopover]="taxonTemplate"
                 [popoverTitle]="germplasmTaxon"
                 container="body">
                <i>{{ germplasmTaxon }}</i>
                {{ germplasmTaxonAuthor ? '(' + germplasmTaxonAuthor + ')' : '' }}
              </a>
            </ng-template>
          </faidare-card-row>

          <faidare-card-row
            label="Biological status"
            [value]="germplasmGnpis.biologicalStatusOfAccessionCode">
          </faidare-card-row>

          <faidare-card-row
            label="Genetic nature"
            [value]="germplasmGnpis.geneticNature">
          </faidare-card-row>

          <faidare-card-row
            label="Seed source"
            [value]="germplasmGnpis.seedSource">
          </faidare-card-row>

          <faidare-card-row
            label="Pedigree"
              [value]="germplasmGnpis.pedigree">
          </faidare-card-row>

          <faidare-card-row
            label="Comments"
            [value]="germplasmGnpis.comment">
          </faidare-card-row>

          <faidare-card-row
            label="Origin site"
            [test]="germplasmGnpis.originSite && germplasmGnpis.originSite.siteName">
            <ng-template>
              <a [routerLink]="['/sites/', germplasmGnpis.originSite.siteId]">
                {{ germplasmGnpis.originSite.siteName }}
              </a>
            </ng-template>
          </faidare-card-row>

        </div>
      </ng-template>
    </faidare-card-section>
  </div>

  <!--Section for the information about the holding of the germplasm-->
  <faidare-card-section
    header="Depositary"
    [test]="germplasmGnpis.holdingInstitute">
    <ng-template>
      <div class="card-body card-section-body">

        <faidare-card-row
          label="Institution">
          <ng-template>
            <a class="popover-underline" data-boundary="window" placement="auto"
               [autoClose]="'outside'"
               [ngbPopover]="holdingInstituteTemplate"
               [popoverTitle]="germplasmGnpis.holdingInstitute.instituteName"
               container="body">
              {{ germplasmGnpis.holdingInstitute.instituteName }}</a>
          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Stock center name"
          [test]="germplasmGnpis.holdingGenbank && germplasmGnpis.holdingGenbank.instituteName && germplasmGnpis.holdingGenbank.webSite">
          <ng-template>
            <a [href]="germplasmGnpis.holdingGenbank.webSite" target="_blank">
              {{ germplasmGnpis.holdingGenbank.instituteName }}
            </a>
          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Stock center name"
          [test]="germplasmGnpis.holdingGenbank && germplasmGnpis.holdingGenbank.instituteName && !germplasmGnpis.holdingGenbank.webSite">
          <ng-template>
            {{ germplasmGnpis.holdingGenbank.instituteName }}
          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Presence status"
          [value]="germplasmGnpis.presenceStatus">
        </faidare-card-row>

        <faidare-card-row
          label="MLS status"
          [test]="germplasmMcpd && germplasmMcpd.mlsStatus">
          <ng-template>
            {{ germplasmMcpd.mlsStatus }}
          </ng-template>
        </faidare-card-row>

      </div>
    </ng-template>
  </faidare-card-section>

  <!--Section for the information about the collector of the germplasm-->
  <faidare-card-section
    header="Collector"
    [test]="checkCollecting()">
    <ng-template>
      <div class="card-body card-section-body">

        <faidare-card-row
          label="Collecting site"
          [test]="germplasmGnpis.collectingSite && germplasmGnpis.collectingSite.siteName">
          <ng-template>
            <a [routerLink]="['/sites/', germplasmGnpis.collectingSite.siteId]">
              {{ germplasmGnpis.collectingSite.siteName }}
            </a>
          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Material type"
          [test]="germplasmGnpis.collector && germplasmGnpis.collector.materialType">
          <ng-template>
            {{ germplasmGnpis.collector.materialType }}
          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Collectors"
          [test]="germplasmGnpis.collector && germplasmGnpis.collector.collectors">
          <ng-template>
            {{ germplasmGnpis.collector.collectors }}
          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Acquisition / Creation date"
          [test]="germplasmGnpis.collector && germplasmGnpis.collector.accessionCreationDate">
          <ng-template>
            {{ germplasmGnpis.collector.accessionCreationDate }}
          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Acquisition / Creation date"
          [test]="germplasmGnpis.acquisitionDate && !germplasmGnpis.collector.accessionCreationDate">
          <ng-template>
            {{ germplasmGnpis.acquisitionDate }}
          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Acquisition Source Code"
          [test]="germplasmMcpd && germplasmMcpd.acquisitionSourceCode">
          <ng-template>
            {{ germplasmMcpd.acquisitionSourceCode }}
          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Institution"
          [test]="germplasmGnpis.collector && germplasmGnpis.collector.institute && germplasmGnpis.collector.institute.instituteName">
          <ng-template>
            <a class="popover-underline" data-boundary="window" placement="auto"
               [autoClose]="'outside'"
               [ngbPopover]="collectorInstituteTemplate"
               [popoverTitle]="germplasmGnpis.collector.institute.instituteName">
              {{ germplasmGnpis.collector.institute.instituteName }}
            </a>
          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Accession number"
          [test]="germplasmGnpis.collector && germplasmGnpis.collector.accessionNumber">
          <ng-template>
            {{ germplasmGnpis.collector.accessionNumber }}
          </ng-template>
        </faidare-card-row>

      </div>
    </ng-template>
  </faidare-card-section>

  <!--Section for the information about the breeder of the germplasm-->
  <faidare-card-section
    header="Breeder"
    [test]="checkBreeder()">
    <ng-template>
      <div class="card-body card-section-body">

        <faidare-card-row
          label="Institute"
          [test]="germplasmGnpis.breeder.institute && germplasmGnpis.breeder.institute.instituteName">
          <ng-template>
            <a class="popover-underline" data-boundary="window" placement="auto"
               [autoClose]="'outside'"
               [ngbPopover]="breederInstituteTemplate"
               [popoverTitle]="germplasmGnpis.breeder.institute.instituteName">
              {{ germplasmGnpis.breeder.institute.instituteName }}
            </a>
          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Accession creation year"
          [value]="germplasmGnpis.breeder.accessionCreationDate ">
        </faidare-card-row>

        <faidare-card-row
          label="Accession number"
          [value]="germplasmGnpis.breeder.accessionNumber">
        </faidare-card-row>

        <faidare-card-row
          label="Catalog registration year"
          [value]="germplasmGnpis.breeder.registrationYear">
        </faidare-card-row>

        <faidare-card-row
          label="Catalog deregistration year"
          [value]="germplasmGnpis.breeder.deregistrationYear">
        </faidare-card-row>

      </div>
    </ng-template>
  </faidare-card-section>

  <!--Section for the information about the donor of the germplasm-->
  <faidare-card-section
    header="Donor"
    [test]="germplasmGnpis.donors && germplasmGnpis.donors.length > 0">
    <ng-template>
      <div class="table-responsive scroll-table table-card-body">
        <faidare-card-table
          [headers]="[
                'Institute name',
                'Institute code',
                'Donation date',
                'Accession number',
                'Accession PUI'
                ]"
          [rows]="germplasmGnpis.donors">
          <ng-template let-row>
            <tr *ngIf="row.donorInstitute">
              <ng-template #donorInstituteTemplate>
                <ng-container *ngTemplateOutlet="instituteTemplate;context:row.donorInstitute">
                </ng-container>
              </ng-template>

              <td>
                <a class="popovers" placement="auto"
                   [autoClose]="'outside'"
                   [ngbPopover]="donorInstituteTemplate"
                   [popoverTitle]="row.donorInstitute.instituteName">
                  {{ row.donorInstitute.instituteName }}
                </a>
              </td>
              <td>{{ row.donorInstituteCode }}</td>
              <td>{{ row.donationDate }}</td>
              <td>{{ row.donorAccessionNumber }}</td>
              <td>{{ row.donorGermplasmPUI }}</td>
            </tr>
          </ng-template>
        </faidare-card-table>

      </div>
    </ng-template>
  </faidare-card-section>

  <!--Section for the information about the distributor of the germplasm-->
  <faidare-card-section
    header="Distributor"
    [test]="germplasmGnpis.distributors && germplasmGnpis.distributors.length>0">
    <ng-template>
      <div class="table-responsive scroll-table table-card-body">

        <!--TODO : Add order column when ordering URL will be available-->
        <faidare-card-table
          [headers]="[
        'Institute',
        'Accession number',
        'Distribution status'
        ]"
          [rows]="germplasmGnpis.distributors">
          <ng-template let-row>
            <tr>
              <ng-template #distributorInstituteTemplate>
                <ng-container *ngTemplateOutlet="instituteTemplate;context:row.institute">
                </ng-container>
              </ng-template>

              <td>
                <a class="popovers" placement="auto"
                   [autoClose]="'outside'"
                   [ngbPopover]="distributorInstituteTemplate"
                   [popoverTitle]="row.institute.instituteName">
                  {{ row.institute.instituteName }}
                </a>
              </td>
              <td>{{ row.accessionNumber }}</td>
              <td>{{ row.distributionStatus }}</td>
            </tr>
          </ng-template>

        </faidare-card-table>
      </div>
    </ng-template>
  </faidare-card-section>

  <!--Section for the information about the primary descriptors of the germplasm-->
  <faidare-card-section
    header="Evaluation Data"
    [test]="germplasmAttributes && germplasmAttributes.length > 0">
    <ng-template>
      <div class="card-body card-section-body">

        <ng-container *ngFor="let descriptor of germplasmAttributes">
          <faidare-card-row
            [label]="descriptor.attributeName"
            [value]="descriptor.value">
          </faidare-card-row>
        </ng-container>

      </div>
    </ng-template>
  </faidare-card-section>

  <!--Section for the information about the genealoggy of the germplasm-->
  <faidare-card-section
    header="Genealogy"
    [test]="checkPedigree() || checkProgeny()">
    <ng-template>
      <div class="card-body card-section-body">

        <faidare-card-row
          label="Crossing plan"
          [test]="germplasmPedigree && germplasmPedigree.crossingPlan">
          <ng-template>
            {{ germplasmPedigree.crossingPlan }}
          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Crossing year"
          [test]="germplasmPedigree && germplasmPedigree.crossingYear">
          <ng-template>
            {{ germplasmPedigree.crossingYear }}
          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Family code"
          [test]="germplasmPedigree && germplasmPedigree.familyCode">
          <ng-template>
            {{ germplasmPedigree.familyCode }}
          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Parent accessions"
          [test]="germplasmPedigree && germplasmPedigree.parent1Name">

          <ng-template>
            <faidare-card-row
              [label]="germplasmPedigree.parent1Type"
              [test]="germplasmPedigree && germplasmPedigree.parent1DbId">
              <ng-template>
                <a [routerLink]="['/germplasm']"
                   [queryParams]="{id:germplasmPedigree.parent1DbId}">
                  {{ germplasmPedigree.parent1Name }}
                </a>
              </ng-template>
            </faidare-card-row>

            <faidare-card-row
              [label]="germplasmPedigree.parent2Type"
              [test]="germplasmPedigree && germplasmPedigree.parent2DbId">
              <ng-template>
                <a [routerLink]="['/germplasm']"
                   [queryParams]="{id:germplasmPedigree.parent2DbId}">
                  {{ germplasmPedigree.parent2Name }}
                </a>
              </ng-template>
            </faidare-card-row>

          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Sibling accession"
          [test]="germplasmPedigree && (germplasmPedigree.siblings && germplasmPedigree.siblings.length > 0)">
          <ng-template>

            <div class="content-overflow">
              <ng-container *ngFor="let sibling of germplasmPedigree.siblings">
                <a [routerLink]="['/germplasm']" [queryParams]="{id:sibling.germplasmDbId }">
                  {{ sibling.defaultDisplayName }}
                </a>
              </ng-container>
            </div>

          </ng-template>
        </faidare-card-row>

        <faidare-card-row
          label="Descendant"
          [test]="checkProgeny()">
        </faidare-card-row>

        <div class="content-overflow-big">
          <ng-container *ngFor="let child of germplasmProgeny">

            <faidare-card-row class="text"
                              [label]="child.secondParentName ? 'child(ren) of ' + child.firstParentName + ' x ' + child.secondParentName : 'child(ren) of ' + child.firstParentName"
                              [test]="checkProgeny()">
              <ng-template>

                <ng-container *ngFor="let sibling of child.sibblings">
                  <a [routerLink]="['/germplasm']" [queryParams]="{pui:sibling.pui}">
                    {{ sibling.name }}
                  </a>
                </ng-container>

              </ng-template>
            </faidare-card-row>
          </ng-container>
        </div>

      </div>
    </ng-template>
  </faidare-card-section>

  <!--Section for the information about the population, collection and panel of the germplasm-->
  <faidare-card-section
    header="Population"
    [test]="germplasmGnpis.population && germplasmGnpis.population.length > 0">
    <ng-template>
      <div class="card-body card-section-body card-section-body">
        <ng-container *ngFor="let population of germplasmGnpis.population">

          <faidare-card-row
            [label]="population.type ? population.name + ' (' + population.type + ')' : population.name"
            [test]="population.germplasmRef && population.germplasmRef.pui && population.germplasmRef.pui != germplasmGnpis.germplasmPUI">
            <ng-template>
              <a [routerLink]="['/germplasm']"
                 [queryParams]="{pui:population.germplasmRef.pui}">
                {{ population.germplasmRef.name }}
              </a> is composed by <a
              [routerLink]="['/']"
              [queryParams]="{germplasmLists: population.name, types: 'Germplasm'}">
              {{ population.germplasmCount }} accessions
            </a>
            </ng-template>
          </faidare-card-row>

          <faidare-card-row
            [label]="population.type ? population.name + ' (' + population.type + ')' : population.name"
            [test]="population.germplasmRef && population.germplasmRef.pui && population.germplasmRef.pui == germplasmGnpis.germplasmPUI">
            <ng-template>
              {{ population.germplasmRef.name }} is composed by <a
              [routerLink]="['/']"
              [queryParams]="{germplasmLists: population.name, types: 'Germplasm'}">
              {{ population.germplasmCount }} accessions
            </a>
            </ng-template>
          </faidare-card-row>

          <faidare-card-row
            [label]="population.type ? population.name + ' (' + population.type + ')' : population.name"
            [test]="!population.germplasmRef">
            <ng-template>
              <a [routerLink]="['/']"
                 [queryParams]="{germplasmLists: population.name, types: 'Germplasm'}">
                {{ population.germplasmCount }} accessions
              </a>
            </ng-template>
          </faidare-card-row>

        </ng-container>
      </div>
    </ng-template>
  </faidare-card-section>

  <faidare-card-section
    header="Collection"
    [test]="germplasmGnpis.collection && germplasmGnpis.collection.length > 0">
    <ng-template>
      <div class="card-body card-section-body">
        <ng-container *ngFor="let collection of germplasmGnpis.collection">

          <faidare-card-row
            [label]="collection.type ? collection.name + ' (' + collection.type + ')' : collection.name">
            <ng-template>
              <a [routerLink]="['/']"
                 [queryParams]="{germplasmLists: collection.name, types: 'Germplasm'}">
                {{ collection.germplasmCount }} accessions
              </a>
            </ng-template>
          </faidare-card-row>

        </ng-container>
      </div>
    </ng-template>
  </faidare-card-section>

  <faidare-card-section
    header="Panel"
    [test]="germplasmGnpis.panel && germplasmGnpis.panel.length > 0">
    <ng-template>
      <div class="card-body card-section-body">
        <ng-container *ngFor="let panel of germplasmGnpis.panel">
          <faidare-card-row
            [label]="panel.type ? panel.name.replace(toReplace, ' ') + ' (' + panel.type + ')' :
            panel.name.replace(toReplace,' ')">
            <ng-template>
              <a [routerLink]="['/']"
                 [queryParams]="{germplasmLists: panel.name, types: 'Germplasm'}">
                {{ panel.germplasmCount }} accessions
              </a>
            </ng-template>
          </faidare-card-row>

        </ng-container>
      </div>
    </ng-template>
  </faidare-card-section>

  <!-- XRefs part -->
  <faidare-xrefs [xrefId]="germplasmGnpis.germplasmDbId"></faidare-xrefs>
</ng-container>

