<!DOCTYPE html>
<html
  lang="fr"
  th:fragment="layout (title, content, script)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title th:replace="${title}">Layout Title</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link th:href="@{/resources/style.css}" rel="stylesheet" />

    <link
      rel="shortcut icon"
      th:href="@{/resources/images/favicon.ico}"
      type="image/x-icon"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a
          class="navbar-brand py-0"
          href="https://urgi.versailles.inrae.fr/faidare"
        >
          <img th:src="@{/resources/images/logo.png}" style="height: 40px" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarContent"
          aria-controls="navbarContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav me-auto">
            <th:block th:each="topEntry : ${#faidare.navbarEntries}">
              <li class="nav-item" th:if="${#lists.isEmpty(topEntry.subMenu)}">
                <a
                  class="nav-link"
                  th:href="${topEntry.url}"
                  th:text="${topEntry.label}"
                ></a>
              </li>
              <li
                class="nav-item dropdown"
                th:if="${not #lists.isEmpty(topEntry.subMenu)}"
              >
                <a
                  class="nav-link dropdown-toggle"
                  th:id="${'navbar-dropdown-' + topEntry.label}"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  th:text="${topEntry.label}"
                >
                </a>
                <ul
                  class="dropdown-menu bg-light"
                  th:aria-labelledby="${'navbar-dropdown-' + topEntry.label}"
                >
                  <li th:each="subEntry : ${topEntry.subMenu}" class="bg-light">
                    <a
                      class="dropdown-item"
                      th:href="${subEntry.url}"
                      th:text="${subEntry.label}"
                    ></a>
                  </li>
                </ul>
              </li>
            </th:block>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-3">
      <div th:replace="${content}">
        <p>Layout content</p>
      </div>
    </div>
    <script type="text/javascript" th:src="@{/resources/script.js}"></script>
    <script type="text/javascript" th:replace="${script}"></script>
  </body>
</html>
