$fa-font-path: '~font-awesome/fonts';

@import '~font-awesome/scss/font-awesome';
@import 'theme';
@import 'custom-bootstrap';

.dropdown-item.active {
  .text-muted {
    color: $white !important;
  }
}

a {
  text-decoration: underline;
}

.display-spinner-front {
  position: absolute;
  top: 70px;
  left: 720px;
  background-color: #F9F9F9;
}
