$fa-font-path: '~font-awesome/fonts';

@import '~font-awesome/scss/font-awesome';
@import 'theme';
@import 'custom-bootstrap';

.dropdown-item.active {
  .text-muted {
    color: $white !important;
  }
}

a {
  text-decoration: underline;
}

h3 {
  font-weight: bold;
  color: #0f6191;
}
.row-sep {
  border-top: 1px solid #f0f0f0;
}

.content-overflow {
  max-height: 175px;
  overflow-y: auto;
}

.content-overflow-big {
  max-height: 275px;
  overflow-y: auto;
}

.display-spinner-front {
  position: absolute;
  top: 70px;
  left: 720px;
  background-color: #F9F9F9;
}
