$headings-color: #0f6191;
$border-color: #0f6e9f;
$link-color: #0f6fa1;
$link-decoration: none;
$link-hover-decoration: underline;
$enable-shadows: true;
$table-border-color: #dee2e6;
$table-group-separator-color: $table-border-color;

@import 'custom-bootstrap';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet.markercluster/dist/MarkerCluster.css';
@import '~leaflet.markercluster/dist/MarkerCluster.Default.css';

$theme-navbar-height: 4rem;
$theme-navbar-color: $black;
$theme-navbar-bg-color: #eaeaea;
$theme-navbar-hover-color: $white;
$theme-navbar-hover-bg-color: #c2c2c2;

.navbar {
  background-color: $theme-navbar-bg-color;
  margin-bottom: 10px;
}

.navbar-toggler {
  color: $theme-navbar-color;
  border-color: $theme-navbar-color;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.navbar .navbar-nav .nav-link,
.navbar .navbar-brand {
  color: $theme-navbar-color !important;
  height: $theme-navbar-height;
  &:hover {
    color: $theme-navbar-hover-color !important;
    background-color: $theme-navbar-hover-bg-color;
  }
}

.dropdown-menu {
  background-color: $theme-navbar-bg-color;
}

.dropdown-item {
  color: $theme-navbar-color !important;
  background-color: $theme-navbar-bg-color;

  &:hover {
    color: $theme-navbar-hover-color !important;
    background-color: $theme-navbar-hover-bg-color;
  }
}

.dropdown-item.active {
  .text-body-secondary {
    color: $white !important;
  }
}

a[role='button'] {
  color: $link-color !important;
}

.f-row {
  border-top: 1px solid $gray-300;
  padding: 0.5rem 0;
  .label {
    font-weight: 700;
  }
}

.f-card {
  border: 1px solid $border-color;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  h2 {
    font-size: $h4-font-size;
    padding: 0.5rem 1rem;
    background-image: repeating-linear-gradient(#0f96cd, #0f6191, #0f76a5);
    color: $white;
  }
  .f-card-body {
    padding: 0.25rem 1rem;
    .f-row:first-of-type {
      border-top: 0;
    }
  }
}

.popover {
  max-width: min(80vw, 500px);
}

.popover-header {
  font-weight: 700;
}

#map {
  height: min(400px, 60vh);
}

.map-legend img {
  height: 1.5rem;
}

.content-overflow {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  &.content-overflow-big {
    max-height: 275px;
  }
}

.scroll-table-container {
  max-height: 200px;
  overflow-y: auto;
  padding-top: 0;
  &.scroll-table-container-big {
    max-height: 500px;
  }
}

.table-sticky {
  width: 100%;
  thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    border-top-width: 0;
    th {
      padding-top: 0;
    }
  }
}

.f-trial-checklist {
  height: 200px;
  overflow-y: auto;
  border: 1px solid $gray-300;
  padding: 0.5rem;
  border-radius: $border-radius;
  background-color: $light;
}
