spring:
  config:
    import: 'optional:configserver:'
  mvc:
    pathmatch:
      matching-strategy: ant-path-matcher
  cloud:
    config:
      name: faidare-cards
      uri: ${SPRING_CONFIG_URI:http://localhost:8888}
  messages:
    fallback-to-system-locale: false
  elasticsearch:
    uris: http://localhost:9200

data:
  elasticsearch:
    host: 127.0.0.1
    port: 9200

management:
  endpoint:
    health:
      show-details: 'always'
  endpoints:
    web:
      exposure:
        include: '*'

logging:
  level:
    root: ERROR
    org.springframework:
      boot.web.embedded.tomcat.TomcatWebServer: INFO
      web.client.RestTemplate: DEBUG
    fr.inrae: DEBUG

faidare:

  env: ${ENV:dev}
  elasticsearch-indexing-template:
    faidare_{documentType}_${faidare.env}
  elasticsearch-xref-index-name:
    faidare_xref_${faidare.env}

  cropOntology-repository-url:
    https://urgi.versailles.inrae.fr/files/ephesis/trait-ontology/data_16.3/ontology-repository.json

  # Provides access to user group WS used to query private data ES aliases
  security-user-group-ws-url:
  security-user-group-ws-token:

  search-url: https://urgi.versailles.inrae.fr/faidare/search

  # Warning! URIs should match with FAIDARE datadiscovery 'schema:includedInDataCatalog' field value
  data-sources:
  # URGI GnpIS
  - uri: https://urgi.versailles.inrae.fr/gnpis
    url: https://urgi.versailles.inrae.fr/gnpis
    name: URGI GnpIS
    image: https://urgi.versailles.inrae.fr/files/faidare/logo/GnpIS.png
  # WUR EU-SOL BreeDB
  - uri: https://www.eu-sol.wur.nl
    url: https://www.eu-sol.wur.nl
    name: WUR EU-SOL BreeDB
    image: https://urgi.versailles.inrae.fr/files/faidare/logo/EU-SOL.png
  # VIB PIPPA
  - uri: http://pippa.psb.ugent.be
    url: http://pippa.psb.ugent.be
    name: VIB PIPPA
    image: https://urgi.versailles.inrae.fr/files/faidare/logo/VIB.png
  # IBET BioData
  - uri: https://biodata.pt
    url: https://biodata.pt
    name: IBET BioData
    image: https://urgi.versailles.inrae.fr/files/faidare/logo/biodata.png
  # NIB PISA
  - uri: http://www.pisa.nib.si
    url: http://www.pisa.nib.si
    name: NIB PISA
    image: https://urgi.versailles.inrae.fr/files/faidare/logo/NIB.png
  # CIRAD TropGENE
  - uri: http://tropgenedb.cirad.fr
    url: http://tropgenedb.cirad.fr
    name: CIRAD TropGENE
    image: https://urgi.versailles.inrae.fr/files/faidare/logo/CIRAD.jpg
  # EVA/ENA
  - uri: https://www.ebi.ac.uk/eva
    url: https://www.ebi.ac.uk/eva
    name: EBI European Nucleotide Archive
    image: https://urgi.versailles.inrae.fr/files/faidare/logo/EVA.png
  # TERRA-REF
  - uri: https://terraref.org
    url: https://terraref.org
    name: TERRA-REF
    image: https://urgi.versailles.inrae.fr/files/faidare/logo/TERRAREF.png
  # DDBJ
  - uri: https://ddbj.nig.ac.jp
    url: https://ddbj.nig.ac.jp
    name: DDBJ
    image: https://www.ddbj.nig.ac.jp/../images/logotype.svg
  # PHIS
  - uri: http://www.phis.inrae.fr/
    url: http://www.phis.inrae.fr/
    name: PHIS
    image: http://opensilex.org/img/logo-phis-lg.png

  observation-export:
    directory: ./exports

server:
  compression:
    enabled: true
    mime-types:
      - application/json
      - application/javascript
      - text/html
      - text/css
      - text/markdown
      - text/plain
  port: 8380
  servlet:
    context-path: /faidare-dev

springdoc:
  packagesToScan: fr.inrae.urgi.faidare.api
  pathsToMatch: /brapi/**
  swagger-ui:
    operationsSorter: alpha
    tagsSorter: alpha
    path: /swagger-ui.html
    doc-expansion: none

---
spring:
  config:
    activate:
      on-profile:
        dev
  web:
    resources:
      static-locations:
        - classpath:/static/
        - file:./web/build/dist/

---
spring:
  config:
    activate:
      on-profile:
        e2e
  elasticsearch:
    uris:
      - http://elasticsearch:9200
server:
  port: 8381

---
spring:
  config:
    activate:
      on-profile:
        ci
  elasticsearch:
    uris:
      - http://elasticsearch:9200


