#map {
  border: #0f6e9f solid 1px;
  height: 400px;
  width: 100%;
}

#maplegend {
  margin: 10px;
  font-size: 0.8em;
}

img {
  margin-right: 5px;
  margin-left: 5px;
  height: 1.5em;
  vertical-align: middle;
}
