<div id="map" class="rounded">
</div>
<div id="maplegend">
  <img src="assets/gpds/images/marker-icon-red.png" id="red"/>
  <label for="red">Origin site</label>
  <img src="assets/gpds/images/marker-icon-blue.png" id="blue"/>
  <label for="blue">Collecting site</label>
  <img src="assets/gpds/images/marker-icon-green.png" id="green"/>
  <label for="green">Evaluation site</label>
  <img src="assets/gpds/images/marker-icon-purple.png" id="purple"/>
  <label for="purple">Multi-purpose site</label>
</div>
