.card {
  margin-top: 25px;
  margin-bottom: 10px;
  border-color: rgba(89, 89, 89, 0.33);
  border-width: 1.5px;
}

.card-header {
  font-size: large;
  font-weight: bold;
  color: #0f6191;
  background-color: #eaeaea;
  border-color: rgba(29, 29, 29, 0.16);
  border-width: 2.5px;
}
