<ul class="nav nav-tabs">
  <li class="nav-item">
    <a tabindex="0"
       class="nav-link {{ activeTab == 'Germplasm' ? 'active' : ''}}"
       (click)="activeTab='Germplasm'">
      Germplasm
    </a>
  </li>
  <li class="nav-item">
    <a tabindex="1"
       class="nav-link {{ activeTab == 'Variable' ? 'active' : ''}}"
       (click)="activeTab='Variable'">
      Trait
    </a>
  </li>
</ul>

<!-- Germplasm tab -->
<div class="{{ activeTab == 'Germplasm' ? 'visible' : 'd-none' }}">
  <!-- Input for the crops field -->
  <div class="form-group row pt-3">
    <label for="crops" class="col-sm-4">
      <span>Crops</span>
      <small class="small text-muted">
        (common name, species, genus, subtaxa & synonyms)
      </small>
    </label>
    <div class="col-sm-8">
      <gpds-suggestion-field
        inputId="crops"
        criteriaField="crops"
        [criteria$]="criteria$"
        placeholder="Search crops">
      </gpds-suggestion-field>
    </div>
  </div>
  <!-- Input for the germplasmList field -->
  <div class="form-group row">
    <label for="germplasmList" class="col-sm-4">
      <span>Germplasm list</span>
      <small class="small text-muted">
        (panel, collection & population)
      </small>
    </label>
    <div class="col-sm-8">
      <gpds-suggestion-field
        inputId="germplasmList"
        criteriaField="germplasmLists"
        [criteria$]="criteria$"
        placeholder="Search germplasm lists">
      </gpds-suggestion-field>
    </div>
  </div>
  <!-- Input for the accessions field -->
  <div class="form-group row">
    <label for="accessions" class="col-sm-4">
      <span>Accession</span>
      <small class="small text-muted">
        (accession name, number & synonyms)
      </small>
    </label>
    <div class="col-sm-8">
      <gpds-suggestion-field
        inputId="accessions"
        criteriaField="accessions"
        [criteria$]="criteria$"
        placeholder="Search germplasm accession">
      </gpds-suggestion-field>
    </div>
  </div>
</div>

<!-- Variable tab -->
<div class="{{ activeTab == 'Variable' ? 'visible' : 'd-none' }}">
  <gpds-trait-ontology-widget
    [criteria$]="criteria$"
    (initialized)="traitWidgetInitialized.emit($event)">
  </gpds-trait-ontology-widget>
</div>
