<ul class="nav nav-tabs">
  <li class="nav-item">
    <a tabindex="0"
       class="nav-link germplasm {{ getNavClass(tabs.GERMPLASM) }}"
       (click)="activeTab=tabs.GERMPLASM">
      {{ tabs.GERMPLASM }}
    </a>
  </li>
  <li class="nav-item"
      *ngIf="!displayGermplasmResult">
    <a tabindex="1"
       class="nav-link trait {{ getNavClass(tabs.TRAIT) }}"
       (click)="activeTab=tabs.TRAIT">
      {{ tabs.TRAIT }}
    </a>
  </li>
</ul>

<!-- Germplasm tab -->
<div class="germplasm {{ getTabClass(tabs.GERMPLASM) }}">
  <!-- Input for the crops field -->
  <div class="form-group row pt-3">
    <label for="crops" class="col-sm-4">
      <span>Crops</span>
      <small class="small text-muted">
        (common name, species, genus, subtaxa & synonyms)
      </small>
    </label>
    <div class="col-sm-8">
      <faidare-suggestion-field
        inputId="crops"
        criteriaField="crops"
        [criteria$]="criteria$"
        [displayGermplasmResult$]="displayGermplasmResult$"
        placeholder="Search crops">
      </faidare-suggestion-field>
    </div>
  </div>
  <!-- Input for the germplasmList field -->
  <div class="form-group row"
       *ngIf="!displayGermplasmResult">
    <label for="germplasmList" class="col-sm-4">
      <span>Germplasm list</span>
      <small class="small text-muted">
        (panel, collection & population)
      </small>
    </label>
    <div class="col-sm-8">
      <faidare-suggestion-field
        inputId="germplasmList"
        criteriaField="germplasmLists"
        [criteria$]="criteria$"
        [displayGermplasmResult$]="displayGermplasmResult$"
        placeholder="Search germplasm lists">
      </faidare-suggestion-field>
    </div>
  </div>
  <!-- Input for the accessions field -->
  <div class="form-group row">
    <label for="accessions" class="col-sm-4">
      <span>Accession</span>
      <small class="small text-muted">
        (accession name, number & synonyms)
      </small>
    </label>
    <div class="col-sm-8">
      <faidare-suggestion-field
        inputId="accessions"
        criteriaField="accessions"
        [criteria$]="criteria$"
        [displayGermplasmResult$]="displayGermplasmResult$"
        placeholder="Search germplasm accession">
      </faidare-suggestion-field>
    </div>
  </div>
</div>

<!-- Trait tab -->
<div class="trait {{ getTabClass(tabs.TRAIT) }}">
  <faidare-trait-ontology-widget
    [criteria$]="criteria$"
    (initialized)="traitWidgetInitialized.emit($event)">
  </faidare-trait-ontology-widget>
</div>
