<div class="row footer mt-4" xmlns="http://www.w3.org/1999/html">
  <div class="col-3 outer-div mt-1">
    <div class=" circleDiv centered">
      <a href="https://elixir-europe.org/platforms/interoperability" target="_blank">
        <img src="assets/elixir-logo.png" alt="Logo Elixir" height="45px" class="ml-2"/>
      </a>
    </div>
  </div>
  <div class="col-9">
    <div class="mt-1">
      <a href="https://elixir-europe.org/platforms/interoperability" target="_blank">
        <span class="font-weight-bold text-secondary" style="font-size: small">FAIR Data finder for Agro Research is part of the ELIXIR infrastructure</span><br>
        <span class="text-muted" style="font-size: x-small">Faidare is part of the ELIXIR infrastructure</span>
      </a>
    </div>
  </div>
</div>


