<!DOCTYPE html>

<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/main :: layout(title=~{::title}, content=~{::main})}"
>
<head>
  <title>Study <th:block th:text="${model.study.studyType}" />: <th:block th:text="${model.study.studyName}" /></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<main>
  <h1>Study <th:block th:text="${model.study.studyType}" />: <th:block th:text="${model.study.studyName}" /></h1>

  <h2>Identification</h2>

  <div th:replace="fragments/row::text-row(label='Name', text=${model.study.studyName})"></div>
  <div th:replace="fragments/row::text-row(label='Identifier', text=${model.study.studyDbId})"></div>

  <th:block th:if="${model.source != null}">
    <div th:replace="fragments/row::row(label='Source', content=~{::#source}, text='')">
      <a id="source" target="_blank" th:href="${model.source.url}">
        <img style="max-height: 60px;" th:src="${model.source.image}" th:alt="${model.source.name} + ' logo'" />
      </a>
    </div>
  </th:block>

  <th:block th:if="${model.study.url != null && model.source != null}">
    <div th:replace="fragments/row::row(label='Data link', content=~{::#url}, text='')">
      <a id="url" target="_blank" th:href="${model.study.url}">
        Link to this study on <th:block th:text="${model.source.name}" />
      </a>
    </div>
  </th:block>

  <div th:replace="fragments/row::text-row(label='Project name', text=${model.study.programName})"></div>
  <div th:replace="fragments/row::text-row(label='Description', text=${model.study.studyDescription})"></div>
  <th:block th:if="${model.study.active != null}">
    <div th:replace="fragments/row::text-row(label='Active', text=${model.study.active ? 'Yes' : 'No'})"></div>
  </th:block>

  <th:block th:unless="${#lists.isEmpty(model.study.seasons)}">
    <div th:replace="fragments/row::text-row(label='Seasons', text=${#strings.listJoin(model.study.seasons, ',')})"></div>
  </th:block>
  <th:block th:if="${model.study.startDate != null && model.study.endDate != null}">
    <div th:replace="fragments/row::text-row(label='Date', text=${'From ' + #dates.format(model.study.startDate, 'yyyy-MM-dd') + ' to ' + #dates.format(model.study.endDate, 'yyyy-MM-dd') })"></div>
  </th:block>
  <th:block th:if="${model.study.startDate != null && model.study.endDate == null}">
    <div th:replace="fragments/row::text-row(label='Date', text=${'Started on ' + #dates.format(model.study.startDate, 'yyyy-MM-dd')})"></div>
  </th:block>

  <th:block th:if="${model.study.locationDbId}">
    <div th:replace="fragments/row::row(label='Location name', content=~{::#location})">
      <a id="location" th:href="@{/sites/{siteId}(siteId=${model.study.locationDbId})}" th:text="${model.study.locationName}"></a>
    </div>
  </th:block>

  <th:block th:unless="${#lists.isEmpty(model.study.dataLinks)}">
    <div th:replace="fragments/row::row(label='Data files', content=~{::#data-files})">
      <ul id="data-files" class="list-unstyled">
        <li th:each="dataLink : ${model.study.dataLinks}">
          <a target="_blank" th:href="${dataLink.url}" th:text="${dataLink.name}"></a>
        </li>
      </ul>
    </div>
  </th:block>

  <th:block th:unles="${#lists.isEmpty(model.germplasms)}">
    <h2>Genotype</h2>

    <div class="table-responsive scroll-table table-card-body">
      <div class="card">
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th scope="col">Accession number</th>
              <th scope="col">Name</th>
              <th scope="col">Taxon</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="row : ${model.germplasms}">
              <td>
                <a th:href="@{/germplasms/{germplasmId}(germplasmId=${row.germplasmDbId})}" th:text="${row.accessionNumber}"></a>
              </td>
              <td th:text="${row.germplasmName}"></td>
              <td th:text="${(row.genus == null ? '' : row.genus) + ' ' + (row.species == null ? '' : row.species)+ ' ' + (row.subtaxa == null ? '' : row.subtaxa) }"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </th:block>

  <th:block th:unless="${#lists.isEmpty(model.variables)}">
    <h2>Variables</h2>
    <div class="table-responsive scroll-table table-card-body">
      <div class="card">
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th scope="col">Variable ID</th>
              <th scope="col">Variable short name</th>
              <th scope="col">Variable long name</th>
              <th scope="col">Ontology name</th>
              <th scope="col">Trait description</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="row : ${model.variables}">
              <td>
                <a th:unless="${#strings.isEmpty(row.documentationURL)}" th:href="${row.documentationURL}" th:text="${row.observationVariableDbId}" target="_blank" ></a>
                <span th:if="${#strings.isEmpty(row.documentationURL)}" th:text="${row.observationVariableDbId}"></span>
              </td>
              <td th:text="${row.name}"></td>
              <td th:text="${#lists.isEmpty(row.synonyms) ? '' : row.synonyms[0]}"></td>
              <td th:text="${row.ontologyName}"></td>
              <td th:text="${row.trait.description}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </th:block>

  <th:block th:unless="${#lists.isEmpty(model.trials)}">
    <h2>Data Set</h2>
    <div class="table-responsive scroll-big-table table-card-body">
      <div class="card">
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Linked studies identifier</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="row : ${model.trials}">
              <td>
                <a th:unless="${#strings.isEmpty(row.documentationURL)}" th:href="${row.documentationURL}" th:text="${row.trialName}" target="_blank" ></a>
                <span th:if="${#strings.isEmpty(row.documentationURL)}" th:text="${row.trialName}"></span>
              </td>
              <td th:text="${row.trialType}"></td>
              <td style="width: 60%">
                <th:block th:each="trialStudy, iterStat : ${row.studies}"
                          th:if="${trialStudy.studyDbId != model.study.studyDbId}">
                  <a th:href="@{/studies/{studyId}(studyId=${trialStudy.studyDbId})}"
                     th:text="${trialStudy.studyName.trim()}">
                  </a><th:block th:if="${iterStat.last}">; </th:block>
                </th:block>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </th:block>

  <th:block th:unless="${#lists.isEmpty(model.study.contacts)}">
    <h2>Contact</h2>
    <div class="table-responsive scroll-table table-card-body">
      <div class="card">
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th scope="col">Role</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Institution</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="row : ${model.study.contacts}">
              <td th:text="${row.type}"></td>
              <td th:text="${row.name}"></td>
              <td th:text="${row.email}"></td>
              <td th:text="${row.institutionName}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </th:block>

  <th:block th:unless="${#lists.isEmpty(model.additionalInfoProperties)}">
    <h2>Additional information</h2>
    <div class="table-responsive scroll-table table-card-body">
      <div class="card">
        <table class="table table-sm table-striped">
          <tbody>
            <tr th:each="row : ${model.additionalInfoProperties}">
              <td style="width: 50%;" th:text="${row.key}"></td>
              <td th:text="${row.value}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </th:block>

  <div th:replace="fragments/xrefs::xrefs(crossReferences=${model.crossReferences})"></div>
</main>
</body>
</html>
