<!doctype html>

<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/main :: layout(title=~{::title}, content=~{::main}, script=~{::script})}"
>
  <head>
    <title>
      Export for trial <th:block th:text="${model.trial.trialType}" />:
      <th:block th:text="${model.trial.trialName}" />
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <main>
      <h1>
        Export for trial <th:block th:text="${model.trial.trialType}" />:
        <th:block th:text="${model.trial.trialName}" />
      </h1>

      <div
        id="running"
        class="d-flex gap-3 alert alert-info"
        role="alert"
        th:classappend="${model.job.status == T(fr.inrae.urgi.faidare.web.observation.ObservationExportJob.Status).RUNNING} ? '' : 'd-none'"
      >
        <div>
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Exporting...</span>
          </div>
        </div>
        <div>
          The export is in progress.<br />
          This page will refresh automatically until it's done.
        </div>
      </div>
      <div
        id="failed"
        class="alert alert-danger"
        role="alert"
        th:classappend="${model.job.status == T(fr.inrae.urgi.faidare.web.observation.ObservationExportJob.Status).FAILED} ? '' : 'd-none'"
      >
        The export failed, sorry.<br />
        Please contact support.
      </div>
      <div
        id="done"
        class="alert alert-success"
        role="alert"
        th:classappend="${model.job.status == T(fr.inrae.urgi.faidare.web.observation.ObservationExportJob.Status).DONE} ? '' : 'd-none'"
      >
        <div>The export succeeded.</div>
        <div>
          <a
            class="btn btn-success"
            th:href="@{/observations/exports/{jobId}/content(jobId=${model.job.id})}"
            >Download</a
          >
        </div>
      </div>
    </main>

    <script th:inline="javascript">
      faidare.initializeTrialExport({
        contextPath: [[${model.contextPath}]],
        jobId: [[${model.job.id}]]
      })
    </script>
  </body>
</html>
